<% reset  = true if reset.nil? %>
<div class="mb-5 col-12">
  <%= form_tag new_order_path, id: "new_order", method: :get do %>
    <%= hidden_field_tag :sub_item_info %>
    <%= link_to "결제하기", "#", class: "btn btn-block w-100 text-white py-2 mt-3 btn-morebox order-new-btn" %>
  <% end %>
</div>
<div class="hat-outer">
  <div class="row mx-0">
    <div class="hat left col-2"></div>
    <div class="hat col-8 pt-4">
      <h4 class="mt-2 main-text-color">부족한 영양 채우기</h4>
    </div>
    <div class="hat right col-2"></div>
  </div>
</div>
<div class="container wear-hat">
  <div class="row">
    <% SubItem.order(:created_at).each do |sub_item| %>
      <% if sub_item.calorie.present? %>
        <div class="col-4" style="<%= 'display:none;' unless sub_item.normal? %>">
          <h5 class="card-title main-text-color mb-1"><%= sub_item.title %></h5>
          <img class="card-img-top" src="<%= sub_item.image %>"/>
          <div class="card-body px-0 py-3">
            <!--<p class="card-text"><%# sub_item.description %></p>-->
            <div class="row justify-content-center w-100 mx-0">
              <a class="minus-btn" data-limit="190" data-target="qty-<%= sub_item.id %>" href="#">
                <i class="fa fa-minus mr-3 main-text-color" aria-hidden="true"></i>
              </a>
              <p style="font-size: 15px;" id="qty-<%= sub_item.id %>" data-id="<%= sub_item.id%>" class="mb-3">0</p>개
              <a class="plus-btn" data-limit="190" data-target="qty-<%= sub_item.id %>" href="#">
                <i class="fa fa-plus ml-3 main-text-color" aria-hidden="true"></i>
              </a>
            </div>
            <input type="checkbox" id="toggle_<%= sub_item.id %>" class="visually-hidden sub_item_input" data-id="<%= sub_item.id %>" data-qty="0" data-calorie="<%= sub_item.calorie %>" data-carbo="<%= sub_item.carbo %>" data-protein="<%= sub_item.protein %>" data-fat="<%= sub_item.fat %>" data-title="<%= sub_item.title %>">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="tool-bar">
  <div class="hat-outer">
    <div class="row mx-0">
      <div class="hat left col-2"></div>
      <div class="hat col-8"></div>
      <div class="hat right col-2"></div>
    </div>
  </div>
  <div class="inner">
    <div class="row w-100 px-4 mx-0 justify-content-between mb-4">
      <h4 class="my-0 text-white line-height-25 ml-2">칼로리 장바구니</h4>
      <div class="mr-2">
        <% if reset %>
          <button id="reset" class="btn btn-sm btn-custom-grey px-2">다시 담기</button>
        <% end %>
        <!-- <button id="share" class="btn btn-sm btn-custom-grey px-2" onclick="sendMessage();return false;">전달하기</button> -->
        <!-- <a id="kakao-link-btn" class="btn btn-sm btn-custom-grey px-2 font-weight-bold" style="background:rgb(244,224,76) !important;" href="javascript:sendLink()">
          <i class="fas fa-comment mr-2"></i>카카오톡 공유하기
        </a> -->
      </div>
    </div>
    <div class="container pt-1">
      <div class="row w-100 mx-0">
        <div class="col-4">
        <h5 class="text-white mb-0">총 칼로리</h5>
          <div class="progress progress-bar-vertical">
            <div class="progress-bar" id="calorie-bar" role="progressbar" style="height:15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="calorie-amount justify-item-center justify-content-between" style="flex-direction: column;">
              <div class="text-white">
                <div id="total-calorie-amount"></div>
                <div id="total-calorie-rate" style="line-height:5px;"></div>
              </div>
              <div id="calorie-amount">0 Kcal</div>
            </div>
          </div>
        </div>
        <div class="col-8 pt-2">
          <% [["carbo", "탄수화물"], ["protein", "단백질"], ["fat", "지방"]].each do |element, element_kr| %>
            <div class="text-white mb-1 text-left" style="font-size:11px;"><%= element_kr %></div>
            <div class="progress mt-0">
              <div class="progress-bar" id="<%= element %>-bar" role="progressbar" style="width:15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="calorie-amount justify-content-between">
                <div id="<%= element %>-amount" class="ml-2" style="line-height:17px;">0g</div>
                <div id="total-<%= element %>-amount" class="mr-2 text-white" style="line-height:17px;"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="calorie-content">
      </div>
    </div>
  </div>
</div>


<script>
  Kakao.init("169c5f8ce76f7ca2c604e84637aa56ff");
  function sendLink() {
    Kakao.Link.sendCustom({
      templateId: 37963,
    })
    gtag('config', 'UA-158638310-3', {
        page_title: '<%= "#{controller_name} #{action_name}" %>',
        page_location: '/send_kakao',
        page_path: '/send_kakao'
      });
  }

  var total_calorie = total_carbo = total_protein = total_fat = 0;
  var total_calorie_rate = ideal_carbo = ideal_protein = ideal_fat = 0;

  function setSubItemQty(id, qty){
    $(`#qty-${id}`).text(qty);
    $(`#toggle_${id}`).data("qty", qty);
    $(`#toggle_${id}`).attr("data-qty", qty);
    $(".sub_item_input").change();
  }

  function html_write() {
    var html = ""
    let total_calorie_percentage = parseFloat(((total_calorie / total_calorie_rate) * 100).toFixed(2))
    let total_carbo_percentage = parseFloat(((total_carbo / ideal_carbo) * 100).toFixed(2))
    let total_protein_percentage = parseFloat(((total_protein / ideal_protein) * 100).toFixed(2))
    let total_fat_percentage = parseFloat(((total_fat / ideal_fat) * 100).toFixed(2))

    let man = ($("#gender").val() == "남")
    let lunch = (parseInt($("#lunch").val())) * (man ? 1 : 0.9);
    let lunch_percentage = parseFloat(((lunch / total_calorie_rate) * 100).toFixed(2))

    let lunch_carbo = Math.ceil(lunch / 8);
    let lunch_carbo_percentage = parseFloat(((lunch_carbo / ideal_carbo) * 100).toFixed(2))
    let lunch_protein = Math.ceil(lunch / 27);
    let lunch_protein_percentage = parseFloat(((lunch_protein / ideal_protein) * 100).toFixed(2))
    let lunch_fat = Math.ceil(lunch / 26);
    let lunch_fat_percentage = parseFloat(((lunch_fat / ideal_fat) * 100).toFixed(2))

    $("#calorie-amount").text(`${(total_calorie + lunch).toFixed(2)}Kcal`);
    $("#carbo-amount").text(`${(total_carbo + lunch_carbo).toFixed(2)}g`);
    $("#protein-amount").text(`${(total_protein + lunch_protein).toFixed(2)}g`);
    $("#fat-amount").text(`${(total_fat + lunch_fat).toFixed(2)}g`);

    $("#total-calorie-amount").text(`${isFinite(total_calorie_percentage) ? (total_calorie_percentage + lunch_percentage).toFixed(2) : '-'}%`);
    $("#total-calorie-rate").text(`(${total_calorie_rate}Kcal)`);
    $("#total-carbo-amount").text(`${isFinite(total_carbo_percentage) ? (total_carbo_percentage + lunch_carbo_percentage).toFixed(2) : '-'}% (${ideal_carbo}g)`);
    $("#total-protein-amount").text(`${isFinite(total_protein_percentage) ? (total_protein_percentage + lunch_protein_percentage).toFixed(2) : '-'}% (${ideal_protein}g)`);
    $("#total-fat-amount").text(`${isFinite(total_fat_percentage) ? (total_fat_percentage + lunch_fat_percentage).toFixed(2) : '-'}% (${ideal_fat}g)`);

    $("#calorie-bar").height(`${total_calorie_percentage + lunch_percentage}%`);
    $("#carbo-bar").width(`${total_carbo_percentage + lunch_carbo_percentage}%`);
    $("#protein-bar").width(`${total_protein_percentage + lunch_protein_percentage}%`);
    $("#fat-bar").width(`${total_fat_percentage + lunch_fat_percentage}%`);

    if (ideal_carbo < 0) {
      $("#total-carbo-amount").text(`${isFinite(total_carbo_percentage) ? 0 : '-'}% (${0}g)`);
    }

    $(".calorie-content").html(html);
  }

  $(".order-new-btn").click(function(){
    if($("#sub_item_info").val()){
      $("form#new_order").submit();
    } else {
      Swal.fire({
        title: '<h3 style="color: #200e57;">상품을 먼저 선택해주세요.</h3>',
        showCancelButton: false,
        confirmButtonText: '확인',
        confirmButtonColor: "#200e57",
      })
      return false;
    }
  });

  function calculateAndWrite(){
    total_calorie = total_carbo = total_protein = total_fat = 0;
    let result = {}
    $.each($('.sub_item_input'), function(){
      let qty = parseFloat(this.dataset.qty)
      $(this).prop("checked", (qty != 0));
      if(qty == 0) return true
      total_calorie += (parseFloat(this.dataset.calorie) * qty);
      total_carbo += (parseFloat(this.dataset.carbo) * qty);
      total_protein += (parseFloat(this.dataset.protein) * qty);
      total_fat += (parseFloat(this.dataset.fat) * qty);
      result[$(this).data("id")] = qty;
    });
    $("#sub_item_info").val($.isEmptyObject(result) ? "" : JSON.stringify(result));
    html_write();
  }

  $('input[type="checkbox"]').click(function(){
    if(total_calorie_rate == 0) {
      Swal.fire({
        title: '<h3 style="color: #200e57;">칼로리 계산을 먼저하세요!</h3>',
        showCancelButton: false,
        confirmButtonText: '확인',
        confirmButtonColor: "#200e57",
      })
      $(this). prop("checked", false);
    } else {
      calculateAndWrite();
    }
  });
  $('.plus-btn, .minus-btn').click(function(){

    if(total_calorie_rate == 0) {
      Swal.fire({
        title: '<h3 style="color: #200e57;">칼로리 계산을 먼저하세요!</h3>',
        showCancelButton: false,
        confirmButtonText: '확인',
        confirmButtonColor: "#200e57",
      })
      $(this).prop("checked", false);
    } else {
      let target = $(`#${$(this).data("target")}`)
      let qty = parseInt(target.text());
      if($(this).hasClass("plus-btn")){
        qty += 1
      } else {
        if(qty > 0) qty -= 1
      }
      setSubItemQty(target.data("id"), qty);
    }
    return false;
  });

  $(".sub_item_input").change(function(){
    calculateAndWrite();
  });

  <% if reset %>
    $('#reset').click(function() {
      // var html = ""
      // $(".calorie-content").html(html);
      $('input[type="checkbox"]:checked').click();
      return false;
    });
  <% end %>



  // function sendMessage(){
  //   Swal.fire({
  //   title: '<h3 style="color: #200e57;">전달하실 분의<br>휴대폰 번호를 입력해주세요</h3>',
  //   input: 'text',
  //   inputPlaceholder: '숫자만 입력',
  //   inputAttributes: {
  //     autocapitalize: 'off'
  //   },
  //   showCancelButton: true,
  //   confirmButtonText: '결과전송',
  //   confirmButtonColor: "#200e57",
  //   cancelButtonText: '취소',
  //   showLoaderOnConfirm: false,
  //   preConfirm: (phone_num) => {
  //     return fetch(`/users/check_and_send_message?phone_num=${phone_num}&checked_items=${$('input[type="checkbox"]:checked').map(function(i, e){return `${$(e).data("title")}(${$(e).data("qty")}개)`}).get().join(", ")}`)
  //       .then(response => {
  //         if (!response.ok) {
  //           throw new Error(response.statusText)
  //         }
  //         return response.json()
  //       })
  //       .catch(error => {
  //         Swal.showValidationMessage(
  //           `요청에 실패하였습니다: ${error}`
  //         )
  //       })
  //   },
  //   allowOutsideClick: () => !Swal.isLoading()
  // }).then((result) => {
  //   console.log(result)
  //   if (result.isConfirmed) {
  //     Swal.fire({
  //       title: `${result.value.message}`
  //     })
  //   }
  // })
  // }
</script>
