<style>
  .health {
    padding: 0;
  }
  #admin-logo {
    width: 20%;
    position: absolute;
    left: 8%;
    top: -4%;
  }
  .card-header {
    color: #200e57;
    background-color: #cfd3df;
  }
  #change-color {
    background-color: #e9eef2;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    #admin-logo {
      width: 30%;
      position: absolute;
      left: 4%;
      top: -1%;
    }
  }
</style>

<% trainer_incentive ||= 0 %>

<div class="container mt-1">
  <%= render 'shared/mobile_navbar' %>
  <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn mt-4 mr-2", style: "background-color: #cfd3df;", data: {confirm: "로그아웃하시겠습니까?"} %>
  <%# link_to "칼로리계산기", survey_path, class: "btn btn mt-4 text-white", style: "background-color: #200e57;" %>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="color: #200e57;">
    <h3 class="display-5"><%= @gym&.title %></h3>
    <p class="lead mt-3">인포/트레이너 페이지입니다.</p>
  </div>
</div>

<div class="container mt-2 mb-5">
  <div class="card-deck text-center">
    <!-- 모어박스 + 모어마켓 총 매출의 10%를 인센티브로 -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">이번 달 총 정산액</h4>
      </div>
      <div class="card-body health pb-3">
        <h1 class="mt-3">
          <%= number_with_delimiter(@trainer_commission + trainer_incentive) %>
          <small class="text-muted">원</small>
        </h1>
      </div>
    </div>
    <!-- 모어박스 + 모어마켓 총 매출의 10%를 인센티브로 -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">이번 달 커미션</h4>
      </div>
      <div class="card-body health pb-3">
        <h1 class="mt-3">
          <strong><%= number_with_delimiter(@trainer_commission) %>원</strong> <br>
        </h1>
        <small>이번 달 매출: <%= number_with_delimiter(@month_trainer_sale) %>원</small>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">이번 달 상여금</h4>
      </div>
      <div class="card-body health pb-3">
        <h1 class="mt-3">
          <%= number_with_delimiter(trainer_incentive) %>
          <small class="text-muted">원</small>
        </h1>
      </div>
      <% case @month_trainer_sale %>
      <% when 300000..500000 %>
        <% trainer_incentive = 30000 %>
      <% when 500001..1000000 %>
        <% trainer_incentive = 50000 %>
      <% else %>
        <% if @month_trainer_sale >= 1000001 %>
          <% trainer_incentive = 100000 %>
        <% elsif @month_trainer_sale < 300000 %>
          <% trainer_incentive = 0 %>
        <% end %>
      <% end %>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">이번 달 센터매출</h4>
      </div>
      <div class="card-body health pb-3">
        <h1 class="mt-3">
          <strong><%= number_with_delimiter(@gym.month_center_sale) %>원</strong>
        </h1>
      </div>
    </div>
    <!-- <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">지점 등수(트레이너)</h4>
      </div>
      <div class="card-body health">
        <ul class="list-unstyled mt-3 mb-4">
          <%# @managers.each_with_index do |value, index| %>
            <li><strong><%#= "#{index+1}등: #{value.phone}님" %></strong></li>
          <%# end %>
        </ul>
      </div>
    </div> -->
  </div>
</div>
<!-- 재고현황, 판매량, 이번달정산액(헬스장이 받는 금액), 주문하기 버튼 누르면 우리한테 카톡이나 이메일, 결제는 딜앱 -->
