<%= render 'market_style' %>

<div class="user-info p-4">
  <div class="text-left">
    <%= image_tag "/list_logo.png", class: "w-50" %>
  </div>
  <h4 class="bg-custom-grey mt-3 main-text-color py-2 line-height-25">칼로리 계산기</h4>
  <a id="kakao-link-btn" href="javascript:sendLink()">
    <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
  </a>

  <p class="info text-left mb-2">간단하게 사용자 정보를 입력해주세요.</p>
  <div class="row">
    <div class="col-6">
      <div class="row">
      <%= label_tag  "age", "나이(만/세)", style: "", class: "col-5 pr-1 text-left" %>
      <%= number_field_tag "age", (params[:age] or 24), class: "form-control mb-3 col-7" %>
      </div>
      <div class="row">
        <%= label_tag  "height", "키(cm)", style: "", class: "col-5 pr-1 text-left" %>
        <%= number_field_tag "height", (params[:height] or 170), class: "form-control mb-3 col-7" %>
      </div>
      <div class="row">
        <%= label_tag  "weight", "몸무게(kg)", class: "col-5 pr-1 text-left" %>
        <%= number_field_tag "weight", (params[:weight] or 70), class: "form-control mb-3 col-7" %>
      </div>
      <div class="row">
        <%= label_tag  "gender", "성별", style: "", class: "col-5 pr-1 text-left"  %>
        <%= select_tag "gender", options_for_select(%w(남 여)), class: "form-control mb-3 col-7 px-1 custom_option" %>
      </div>
      <div class="row">
        <%= label_tag  "activity", "활동강도", class: "col-5 pr-1 text-left" %>
        <%= select_tag "activity", options_for_select(["전혀없음", "조금(5천보)", "보통(만보)", "많이(2만보)", "엄청(3만보)"]), class: "form-control mb-3 col-7 px-1 custom_option" %>
      </div>
    </div>
    <div class="col-6 px-2">
      <div class="row justify-content-center mb-2 w-100 mx-0">
        <%#= link_to "계산하기", "#", class: "btn btn-morebox px-4", id: "calcul_button", onclick: "calculateCalorie($('#age').val(), $('#height').val(), $('#weight').val(), $('#gender').val(), $('#activity').val()); false;" %>
        <a href="#" class="btn btn-morebox px-4" id="calcul_button" onclick="calculateCalorie($('#age').val(), $('#height').val(), $('#weight').val(), $('#gender').val(), $('#activity').val()); false;">계산하기</a>
      </div>
      <div class="row justify-content-center mb-2 w-100 mx-0">
        <%= link_to "뒤로가기", users_path, class: "btn btn-custom-grey px-4" %>
      </div>
      <div id="output" class="mt-4 border cal_result">
        <div class="py-2 px-3">
          <div class="calorie-title">현 체중 유지 칼로리</div>
          <span id="top-calorie">0000</span> &nbsp; <span class="secondary-text-color">Kcal</span>
        </div>
        <hr class="my-0">
        <div class="py-2 px-2 row w-100 mx-0">
          <div class="col-4">
            <div class="row justify-content-center">
              <div class="px-1 calorie-title col-12">탄수화물</div>
              <small class="secondary-text-color" style="font-size:10px;line-height:10px;">(권장)</small>
              <br>
              <div class="col-12 px-1" style="line-height:15px;">
                <span id="top-carbo">000</span><span class="secondary-text-color">g</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row justify-content-center">
              <div class="px-1 calorie-title col-12">단백질</div>
              <small class="secondary-text-color" style="font-size:10px;line-height:10px;">(권장)</small>
              <br>
              <div class="col-12 px-1" style="line-height:15px;">
                <span id="top-protein">000</span><span class="secondary-text-color">g</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row justify-content-center">
              <div class="px-1 calorie-title col-12">지방</div>
              <small class="secondary-text-color" style="font-size:10px;line-height:10px;">(권장)</small>
              <br>
              <div class="col-12 px-1" style="line-height:15px;">
                <span id="top-fat">000</span><span class="secondary-text-color">g</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="info text-left small">* 본 칼로리 계산값은 'The short-term effect of high versus moderate protein intake on recovery after strength training in resistance-trained individuals(국제스포츠영양학회지 논문) / Justin Roberts, Anastasia Zinchenko, Craig Suckling'외 다수의 논문을 토대로 제작되었습니다. 유연하게 적용하셔도 무방합니다.</p>
</div>
<%= render 'sub_items_and_calorie_bar' %>

<script>
  Kakao.init("133df07a3fe58af0562b2d69e66fee94");
  function sendLink() {
    Kakao.Link.sendCustom({
      templateId: 37742,
      // templateArgs: {
      //   title:
      //     '판교 맛집에 들르다. 다양하고 풍부한 퓨전 한정식. 깔끔한 내부 인테리어 라이언',
      //   description:
      //     '부담없는 가격에 푸짐하게 즐기는 점심메뉴 런치한정식, 불고기정식, 돼지 김치찌개 등',
      // },
    })
  }



  $('.custom_option').dropdown();
  var timer = setInterval(function(){
                $('#calcul_button').toggleClass('blink');
              }, 500);
  var timer2;

  $('#calcul_button').click(function() {
    clearTimeout(timer);
    clearTimeout(timer2);
    timer2 = setInterval(function(){
                  $('.cal_result').toggleClass('blink');
                }, 500);
    document.getElementById("calcul_button").innerHTML = '계산완료:)';
    $("#calcul_button").addClass(function() {
      $(this).css('color','white');
    })
    setTimeout(function(){
      Swal.fire({
        title: '<h3 style="color: #200e57;">키와 몸무게 등의 정보가 정확한가요?</h3>',
        showCancelButton: true,
        confirmButtonText: '확인',
        confirmButtonColor: "#200e57",
        cancelButtonText: '<a href="<%= market_users_path %>">아니오(다시 계산)</a>',
      })
    }, 1500);
    return false;
  });


</script>
