<style>
  .progress {
    position:relative;
    margin: 10px 0;
    height: 1.3rem;
  }
  .calorie-amount {
    position:absolute;
    left:0;
    right:0;
    font-weight:bold;
    line-height:200%;
  }
  #change-color, .change-color {
    background-color: #e9eef2;
  }
  #tool-bar {
    width: 100%;
    height: 240px;
    position: fixed;
    bottom: 0%;
    /* background-color:#19244f !important; */
    background-color:#200e57 !important;
  }
  input:checked + label {
    color: red;
  }
  label {
    background-color: #cfd3df;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .visually-hidden {
    position: absolute;
    left: -100vw;
  }
  .user-info{
    background-color: #cfd3df;
  }
  .btn-morebox {
    background-color: #200e57;
    color: white;
  }
  .btn:hover {
    color: white;
  }
  #output {
    color: #200e57;
    font-weight:bold;
  }
  #output #calorie-info{
    font-size:12px;
  }
</style>

<div class="user-info py-4 px-3 mb-5">
  <h3>간단한 사용자 정보를 입력해주세요:)</h3>
  <div class="row justify-content-center">
    <%= label_tag  "age", style: "width: 27%; margin-right: 5%;", class: "mb-0" do %>
      나이(만) <%= number_field_tag "age", (params[:age] or 24), class: "form-control mb-2" %>
    <% end %>
    <%= label_tag  "height", style: "width: 27%; margin-right: 5%;", class: "mb-0" do %>
      키 <%= number_field_tag "height", (params[:height] or 170), class: "form-control mb-2" %>
    <% end %>
    <%= label_tag  "weight", style: "width: 27%;", class: "mb-0" do %>
      몸무게 <%= number_field_tag "weight", (params[:weight] or 70), class: "form-control mb-2" %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= label_tag  "gender", style: "width: 40%; margin-right: 5%;", class: "mb-0" do %>
      성별 <%= select_tag "gender", raw("<option>남</option><option>여</option>"), class: "form-control mb-2" %>
    <% end %>
    <%= label_tag  "activity", style: "width: 40%;", class: "mb-0" do %>
      활동강도 <%= select_tag "activity", raw("<option>전혀없음</option><option>조금</option><option>보통</option><option>많이</option><option>엄청</option>"), class: "form-control mb-2" %>
    <% end %>
  </div>
  <p id="output" class="mt-4 p-3 border">회원 정보를 입력 후, 계산하기를 눌러주세요 :)</p>
  <a href="#" class="btn mt-3 btn-morebox" onclick="calculateCalorie($('#age').val(), $('#height').val(), $('#weight').val(), $('#gender').val(), $('#activity').val()); false;">계산하기</a>
  <%= link_to "뒤로가기", users_path, class: "btn btn-morebox mt-3" %>

</div>
<div class="container" style="padding-bottom: 250px;">
  <div class="row">
    <% SubItem.order(:created_at).each do |sub_item| %>
      <div class="col-sm-6" style="width: 50%;">
        <%= link_to "#", onclick: "$(this).next().find('#toggle_#{sub_item.id}').click();return false;" do %>
          <img class="card-img-top" src="<%= sub_item.image %>"/>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= sub_item.title %></h5>
          <p class="card-text"><%= sub_item.description %></p>
          <input type="checkbox" id="toggle_<%= sub_item.id %>" class="visually-hidden" data-calorie="<%= sub_item.calorie %>" data-carbo="<%= sub_item.carbo %>" data-protein="<%= sub_item.protein %>" data-fat="<%= sub_item.fat %>" data-title="<%= sub_item.title %>">
          <label for="toggle_<%= sub_item.id %>" id="calorie-check">체크</label>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="tool-bar">
  <div class="row justify-content-center mb-3">
    <h3 class="mt-3 mr-3 ml-5 mb-1 text-white">칼로리 계산기</h3> 
    <button id="reset" class="btn btn-sm text-white mt-2 change-color" style="color:#200e57 !important">리셋</button>
  </div>
  <div class="container">
    <% [["calorie", "", "총 칼로리"], ["carbo", "success", "탄수화물"], ["protein", "info", "단백질"], ["fat", "warning", "지방"]].each do |element, color, element_kr| %>
      <div class="progress">
        <div class="progress-bar bg-<%= color %>" id="<%= element %>-bar" role="progressbar" style="width:2%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        <span class="calorie-amount"><%= element_kr %> <span id="<%= element %>-amount"></span></span>
      </div>
    <% end %>
    
    <div class="calorie-content">
    </div>
    <button id="share" class="btn btn-block text-white mt-4 change-color mr-2" style="color:#200e57 !important" onclick="sendMessage();return false;">공유하기</button>
  </div>
</div>

<script>
  var total_calorie = total_carbo = total_protein = total_fat = 0;
  var total_calorie_rate = ideal_carbo = ideal_protein = ideal_fat = 0;

  function caloriePlus(calorie, carbo, protein, fat) {
    total_calorie += calorie;
    total_carbo += carbo;
    total_protein += protein;
    total_fat += fat;
    html_write();
  };

  function calorieMinus(calorie, carbo, protein, fat) {
    total_calorie -= calorie;
    total_carbo -= carbo;
    total_protein -= protein;
    total_fat -= fat;
    html_write();
  };

  function html_write() {
    
    var html = ""
    let total_calorie_percentage = parseFloat(((total_calorie / total_calorie_rate) * 100).toFixed(2))
    let total_carbo_percentage = parseFloat(((total_carbo / ideal_carbo) * 100).toFixed(2))
    let total_protein_percentage = parseFloat(((total_protein / ideal_protein) * 100).toFixed(2))
    let total_fat_percentage = parseFloat(((total_fat / ideal_fat) * 100).toFixed(2))

    $("#calorie-amount").text(` : ${isFinite(total_calorie_percentage) ? total_calorie_percentage : '-'} % (${total_calorie} g  /  ${total_calorie_rate} g)`);
    $("#carbo-amount").text(` : ${isFinite(total_carbo_percentage) ? total_carbo_percentage : '-'} % (${total_carbo} g  /  ${ideal_carbo} g)`);
    $("#protein-amount").text(` : ${isFinite(total_protein_percentage) ? total_protein_percentage : '-'} % (${total_protein} g  /  ${ideal_protein} g)`);
    $("#fat-amount").text(` : ${isFinite(total_fat_percentage) ? total_fat_percentage : '-'} % (${total_fat} g  /  ${ideal_fat} g)`);

    $("#calorie-bar").width(`${total_calorie_percentage}%`);
    $("#carbo-bar").width(`${total_carbo_percentage}%`);
    $("#protein-bar").width(`${total_protein_percentage}%`);
    $("#fat-bar").width(`${total_fat_percentage}%`);

    $(".calorie-content").html(html);
  }

  $('input[type="checkbox"]').click(function(){
    calorie = parseFloat(this.dataset.calorie)
    carbo = parseFloat(this.dataset.carbo)
    protein = parseFloat(this.dataset.protein)
    fat = parseFloat(this.dataset.fat)

    if($(this).prop("checked")){
      caloriePlus(calorie, carbo, protein, fat)
    } else {
      calorieMinus(calorie, carbo, protein, fat)
    }
  });

  function calculateCalorie(age, height, weight, gender, activity){
    age = parseFloat(age)
    height = parseFloat(height)
    weight = parseFloat(weight)

    if(gender == "남") {
      base_calorie_rate = Math.round(10*weight + 6.25 * height - 5 * age + 5)
    } else {
      base_calorie_rate = Math.round(10 * weight + 6.25 * height - 5 * age - 161)
    }

    if(activity == "전혀없음") {
      total_calorie_rate = 1.2 * base_calorie_rate
    } else if(activity == "조금") {
      total_calorie_rate = 1.375 * base_calorie_rate
    } else if(activity == "보통") {
      total_calorie_rate = 1.555 * base_calorie_rate
    } else if(activity == "많이") {
      total_calorie_rate = 1.725 * base_calorie_rate
    } else {
      total_calorie_rate = 1.9 * base_calorie_rate
    }

    total_calorie_rate = Math.round(total_calorie_rate)
    ideal_protein = Math.round(weight * 1.5)
    ideal_fat = Math.round(weight * 1.1)
    ideal_carbo = Math.round((total_calorie_rate - (ideal_protein * 4) - (ideal_fat * 9)) / 4)

    document.getElementById('output').innerHTML = "총대사량: " + total_calorie_rate + "kcal"
    + "<br>" + "<span id='calorie-info'>탄수화물(권장): " + ideal_carbo + "g, &nbsp" + " 단백질(권장): " + ideal_protein + "g, " + "&nbsp;" + "지방(권장): " + ideal_fat + "g</span>";
    html_write();
  }

  $('#reset').click(function() {
    // var html = ""
    // $(".calorie-content").html(html);
    $('input[type="checkbox"]:checked').click();
  });
  function sendMessage(){
    Swal.fire({
    title: '공유하실 휴대폰 번호를<br>입력해주세요 :)',
    input: 'text',
    inputAttributes: {
      autocapitalize: 'off'
    },
    showCancelButton: true,
    confirmButtonText: '공유하기',
    showLoaderOnConfirm: false,
    preConfirm: (phone_num) => {
      return fetch(`/users/check_and_send_message?phone_num=${phone_num}&checked_items=${$('input[type="checkbox"]:checked').map(function(i, e){return $(e).data("title")}).get().join(", ")}`)
        .then(response => {
          if (!response.ok) {
            throw new Error(response.statusText)
          }
          return response.json()
        })
        .catch(error => {
          Swal.showValidationMessage(
            `요청에 실패하였습니다: ${error}`
          )
        })
    },
    allowOutsideClick: () => !Swal.isLoading()
  }).then((result) => {
    console.log(result)
    if (result.isConfirmed) {
      Swal.fire({
        title: `${result.value.message}`
      })
    }
  })
  }
    
</script>
