<%= render 'users/market_style' %>
<style>
  .line-height-30 {
    line-height: 30px;
  }
  body {
    background: #e9edf1 !important;
  }
  .ui.selection.dropdown .menu {
    max-height: 11.014286rem;
  }
  .fancy-color {
    color: #6200EE;
  }
  .cal_form {
    width: 80%;
    height: 7vh;
  }
  ::placeholder {
    font-size: 15px;
    color: #6200EE !important;
  }
  .form-control {
    color: #6200EE !important;
  }
  .ui.selection.dropdown {
    font-size: 20px;
    width: 80%;
  }
</style>
<div class="text-center px-4 py-3 bg-white">
  <%= link_to fit_table_path do %>
    <%= image_tag "/fittable_logo.png", style: "width: 45%;" %>
  <% end %>
</div>
<div class="progress mt-0" style="margin-bottom: 0px;">
  <div class="progress-bar" id="top-progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<%= form_for Post.new do |f| %>
  <%= f.hidden_field :post_type, value: params[:challenge] %>
  <div class="tab-content" id="myTabContent">
    <%= render 'survey_tab_pane', index: 0, next_tab: 1 do %>
      <h2 class="text-dark text-center" style="margin-top: 30%;">
        환영합니다:)
      </h2>
      <h3 class="mt-5 text-dark text-center" style="font-weight: 400;">
        일일 권장 칼로리를 계산하고, 목표 달성을 <br> 더욱 잘 도와드리기 위해서 잠시 몇 가지 <br> 질문을 드리겠습니다.
      </h3>
    <% end %>

    <%= render 'survey_tab_pane', index: 1, prev_tab: 0, next_tab: 2 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신은 몇 살인가요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.number_field :age, class: "text-center form-control col-5", style: "height: 40px; font-size: 20px;", value: 24 %>
            <div class="text-dark col-1 text-center h3" style="margin-top: auto; margin-bottom: auto; font-weight: 900;">살</div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 2, prev_tab: 1, next_tab: 3 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신은 몇 cm인가요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.number_field :height, class: "text-center form-control col-5", step: :any, style: "height: 40px; font-size: 20px;", value: 165 %>
            <div class="text-dark col-1 text-center h3" style="margin-top: auto; margin-bottom: auto; font-weight: 900;">cm</div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 3, prev_tab: 2, next_tab: 4 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신의 현재 체중은 몇 kg인가요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.number_field :weight, class: "text-center form-control col-5", step: :any, style: "height: 40px; font-size: 20px;", value: 55 %>
            <div class="text-dark col-1 text-center h3" style="margin-top: auto; margin-bottom: auto; font-weight: 900;">kg</div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 4, prev_tab: 3, next_tab: 5 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신의 성별은 무엇인가요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.select(:gender, Post.genders.keys.map {|gender| [gender.titleize, gender]}, {}, class: "text-center form-control custom_option col-6") %>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 5, prev_tab: 4, next_tab: 6 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신의 활동량은 어떻게 되시나요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2"></div>
            <%= f.select(:activity, Post.activities.keys.map {|activity| [activity.titleize, activity]}, {}, class: "text-center form-control custom_option col-8") %>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 6, prev_tab: 5, next_tab: 7 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신은 1회 운동할 때 <br> 평균 몇 분을 운동 하시나요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.number_field :work_time, class: "text-center form-control col-5", style: "height: 40px; font-size: 20px;", value: 60 %>
            <div class="text-dark col-1 text-center h3" style="margin-top: auto; margin-bottom: auto; font-weight: 900;">분</div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 7, prev_tab: 6, next_tab: 8 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신은 그 운동을 <br> 주 몇 회 이상 하실 계획입니까?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.number_field :work_count, class: "text-center form-control col-5", style: "height: 40px; font-size: 20px;", value: 3 %>
            <div class="text-dark col-1 text-center h3" style="margin-top: auto; margin-bottom: auto; font-weight: 900;">회</div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 8, prev_tab: 7, next_tab: 9 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신은 그 운동을 <br> 얼마나 강하게 하십니까?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.select(:work_strength, Post.work_strengths.keys.map {|strength| [strength.titleize, strength]}, {}, class: "text-center form-control custom_option col-6") %>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 9, prev_tab: 8, next_tab: 10 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신의 목표 체중은 몇kg인가요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.number_field :target_weight, class: "text-center form-control col-5", style: "height: 40px; font-size: 20px;", step: :any, value: 53 %>
            <div class="text-dark col-1 text-center h3" style="margin-top: auto; margin-bottom: auto; font-weight: 900;">kg</div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 10, prev_tab: 9, next_tab: 11 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">당신의 목표 날짜는 며칠인가요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.text_field :target_date, class: "text-center form-control col-6", id: "target_date", style: "height: 40px; font-size: 20px;", value: Date.current + 1.months, readonly: true %>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 11, prev_tab: 10, next_tab: 12 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">점심은 어느정도로 먹나요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.select(:lunch, Post.lunches.keys.map {|lunch| [lunch.titleize, lunch]}, {}, class: "text-center form-control custom_option col-6") %>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 12, prev_tab: 11, next_tab: 13 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">특정한 질환이 있나요?</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.text_field :sickness, class: "text-center form-control col-6", style: "height: 40px; font-size: 20px;", value: "없음" %>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 13, prev_tab: 12, next_tab: -1 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">상담 시 사용하실 <br> 닉네임을 입력해 주세요.</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <%= f.text_field :name, class: "text-center form-control col-6", style: "height: 40px; font-size: 20px;", placeholder: "ex) 고릴라", required: true %>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: -1, prev_tab: 13 do %>
      <h2 class="text-dark text-center mb-4" style="margin-top: 30%; font-weight: 400;">원하는 상담 시간을 선택하세요!</h2>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2"></div>
            <%= f.select(:counsel_time, Post.counsel_times.keys.map {|time| [time.titleize, time]}, {}, class: "text-center form-control custom_option col-8") %>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
      <h3 style="color: #200e57;">선택하신 시간에 상담사가 먼저 연락합니다:)</h3>
      <%= f.submit "결과 계산하기", class: "btn btn-outline btn-lg text-white mt-5", style: "background-color: #200e57; border-color: #200e57; width: 55%; bottom: 10%;" %>
    <% end %>
  </div>
<% end %>

<script>
  $('.custom_option').dropdown();
  $('#select_period').dropdown();

  $(".nav-btn").click(function(){
    $(this).removeClass("active");
    let targetTab = $(this).attr("href").split("#tab-")[1]

    ga('send', 'pageview', '<%= fit_table_survey_path %>#tab-'+targetTab);
    gtag('config', 'UA-158638310-3', {
        page_title: '<%= "#{controller_name} #{action_name}" %> tab ' + targetTab,
        page_location: '<%= fit_table_survey_path %>#tab-' + targetTab,
        page_path: '<%= fit_table_survey_path %>#tab-' + targetTab
      });
  });
  $("#target_date").datepicker({
                dateFormat: 'yy-mm-dd' //Input Display Format 변경
                ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
                ,showMonthAfterYear:true //년도 먼저 나오고, 뒤에 월 표시
                ,changeYear: true //콤보박스에서 년 선택 가능
                ,changeMonth: true //콤보박스에서 월 선택 가능
                ,buttonImageOnly: true //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
                ,buttonText: "선택" //버튼에 마우스 갖다 댔을 때 표시되는 텍스트
                ,yearSuffix: "년" //달력의 년도 부분 뒤에 붙는 텍스트
                ,monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'] //달력의 월 부분 텍스트
                ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip 텍스트
                ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 부분 텍스트
                ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 부분 Tooltip 텍스트
                // ,minDate: "+30D" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
                ,maxDate: "+10Y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
            });
</script>
