<style>
  #change-color {
    background-color: #FFFFFF;
  }
  ul.morebox {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 340px;
    overflow-x: scroll;
  }
  ul.morebox li {
    display: inline;
  }
  ul.morebox li img {
    width: 45%;
    height: 45%;
    margin-right: 1%;
  }
  h4 {
    font-size: 18px;
  }
</style>

<div class="container" style="text-align: left;">
  <div class="first-header mt-5 ml-3">
    <h1 style="margin-bottom: 0%; font-weight: 400;">알고 먹어야</h1>
    <h1 style="margin-top: 0%;">몸이 바뀐다 !</h1>
  </div>
  <div class="first-desc mt-5 ml-3">
    <h3 style="margin-bottom: 0%; font-weight: 400;">전국민 식단 코칭 프로젝트,</h3>
    <h3 style="margin-top: 1%; font-weight: 400;">나랑 딱 맞는 식단관리 - <strong>핏테이블</strong></h3>
  </div>
  <%= image_tag '/fit_1.png', class: "mt-5 mb-4", style: "width: 100%;" %>
  <div class="second-header mt-5 ml-3">
    <h2 style="margin-bottom: 0%; font-weight: 700;">어떻게 하면 원하는 몸을</h2>
    <h2 style="margin-top: 1%; font-weight: 700;">가질 수 있을까?</h2>
  </div>
  <div class="second-desc mt-5 ml-3">
    <h4 style="margin-bottom: 0%; font-weight: 400;"><strong>고릴라밤</strong>은</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">서울 내 파트너 피트니스 센터</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">30여곳에 <strong>스포츠 식품을 유통하는</strong></h4>
    <h4 style="margin-top: 2%; font-weight: 400;">회사로 시작했어요.</h4>
  </div>
  <ul class="morebox mt-3">
    <li><%= image_tag '/1.png' %></li>
    <li><%= image_tag '/2.png' %></li>
    <li><%= image_tag '/3.png' %></li>
    <li><%= image_tag '/4.png' %></li>
    <li><%= image_tag '/5.png' %></li>
    <li><%= image_tag '/6.png' %></li>
    <li><%= image_tag '/7.png' %></li>
    <li><%= image_tag '/8.png' %></li>
    <li><%= image_tag '/9.png' %></li>
    <li><%= image_tag '/10.png' %></li>
  </ul>
</div>

<div class="container mt-4" style="text-align: justify; background-color: #F9F5FF;">
  <h4 class="pt-5" style="margin-bottom: 0%; font-weight: 400;">파트너 트레이너들과 회원들의 데이터를 통해 저</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">희는 목표로 하는 몸을 얻기 위해서는 <strong>운동보다 식</strong></h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>단이 중요하다</strong>는 결론을 얻었습니다.</h4> <br>
  <h4 style="margin-bottom: 0%; font-weight: 400;">그렇지만 많은 운동인들이 내가 얼마나, 어떻게 먹</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">어야하는지 모르고 있다는 사실을 알았어요.</h4> <br>
  <h4 style="margin-bottom: 0%; font-weight: 400;">그래서 약 150명의 파트너 트레이너분들께</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">PT회원들의 식단관리를 도울 수 있도록 <strong>식단관리</strong></h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>툴을 개발하여 제공</strong>하고 있습니다.</h4> <br>
  <h4 style="margin-bottom: 0%; font-weight: 400;">이제는 저희 파트너 센터 회원분들 뿐 아니라 온</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">국민이 직장에서도, 집에서도 <strong>"의식적인 섭취"</strong>를</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">통해 식단관리를 태어나서 처음으로 제대로 할 수</h4>
  <h4 style="padding-bottom: 10%; margin-top: 2%; font-weight: 400;">있도록 돕고자 해요.</h4>
</div>
<div class="container mt-4" style="text-align: left;">
  <span class="badge badge-pill" style="background-color: #F9F5FF; color: #6200EE;"><h3>STEP 1</h3></span>
  <div class="step1 ml-3 mt-3">
    <h2 style="margin-bottom: 0%; font-weight: 400;">배수의 진을 치고,</h2>
    <h2 style="margin-top: 1%; font-weight: 700;">앞으로 나아가자</h2>
  </div>
  <div class="step1-desc mt-5 ml-3">
    <h4 style="margin-bottom: 0%; font-weight: 400;"><strong>핏테이블 프로그램</strong>은 기본적으로</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>챌린지 머니</strong>가 있어요.</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">내 <strong>목표 날짜</strong>와, <strong>목표 체중</strong>을 설정하고</h4>
    <h4 style="margin-top: 2%; font-weight: 400;">내 꿈의 무게만큼 <strong>챌린지 머니를 거세요.</strong></h4>
  </div>
  <div class="step1-desc2 mt-5 pt-3" style="text-align: center;">
    <h4 style="margin-bottom: 0%; font-weight: 400;">하루 간 먹은 식단을</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">업로드한 날만큼 환급해드려요.</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>매일 업로드했다면 100%환급!</strong></h4>
    <%= image_tag '/fit_2.png' %>
    <h4 style="margin-bottom: 0%; font-weight: 400;">챌린지만 진행하는</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>'저스트 챌린지' </strong>프로그램은</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>100% 무료</strong>예요.</h4>
    <h4 style="margin-bottom: 0%; margin-top: 8%; font-weight: 400;"><strong>*2주/4주</strong> 단위로 선택하실 수 있으며,</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;"><strong>챌린지머니는 10,000원 이상</strong>입니다.</h4>
  </div>
</div>


<div class="container mt-5 pb-4" style="background-color: #E9EDF1">
  <h1 style="padding-top: 5%; margin-bottom: 0%; font-weight: 700; color: #6200EE;">저스트 챌린지</h1>
  <h2 style="margin-top: 2%; margin-bottom: 0%; font-weight: 700;">제공내용</h2>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">01</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">책임감있는 목표달성을 위한</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">핏테이블과의 계약체결</h4>
  <%= image_tag '/just_1.png', class: "mt-4 ml-4" %>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">02</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">목표 달성 시 수료증 발급</h4>
  <%= image_tag '/just_2.png', class: "mt-4 ml-4" %>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">03</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">아침, 점심, 저녁 식단 업로드</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">리마인드 알람</h4>
  <%= image_tag '/just_3.png', class: "mt-4 ml-4" %>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">04</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">주간 달성률 안내</h4>
  <%= image_tag '/just_4.png', class: "mt-4 ml-4" %>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">05</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">목표에 따른 하루 총 칼로리</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">탄, 단, 지 레포트 제출</h4>
  <%= image_tag '/just_5.png', class: "mt-4 ml-5" %>
</div>

<div class="container mt-5" style="text-align: left;">
  <span class="badge badge-pill" style="background-color: #F9F5FF; color: #6200EE;"><h3>STEP 2</h3></span>
  <div class="step2 ml-3 mt-3">
    <h2 style="margin-bottom: 0%; font-weight: 400;">마음만 먹으세요.</h2>
    <h2 style="margin-bottom: 0%; margin-top: 1%; font-weight: 700;">목표달성은</h2>
    <h2 style="margin-top: 1%; font-weight: 700;">저희가 돕겠습니다.</h2>
  </div>

  <div class="step1-desc mt-4 ml-3">
    <h4 style="margin-bottom: 0%; font-weight: 400;">혹시나 식단관리를</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">어떻게 해야할 지 모르거나,</h4>
    <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">누군가의 도움이 있다면</h4>
    <h4 style="margin-top: 2%; font-weight: 400;">잘해낼 자신이 있으신가요?</h4>
  </div>
</div>

<div class="container mt-5" style="background-color: #F9F5FF">
  <h4 style="padding-top: 10%; margin-bottom: 0%; font-weight: 400;"><strong>핏테이블</strong> 전담 코치들의</h4>
  <h4 style="margin-top: 2%; margin-bottom: 0%; font-weight: 400;">밀착 코칭이 진행되는</h4>
  <h2 style="margin-top: 5%; margin-bottom: 0%; font-weight: 700;">'풀케어 챌린지'</h2>
  <h2 style="margin-top: 2%; padding-bottom: 10%; font-weight: 400;">프로그램에 참여해보세요.</h2>
</div>

<div class="container mt-3">
  <p style="margin-bottom: 0%;">당신의 남은 인생을 바꿔줄 관리 습관을</p>
  <p>전담 코치님과 함께 정착시킬 수 있습니다.</p>
  <%= image_tag '/fit_3.png', class: "mt-4" %>
</div>

<div class="container mt-5 pb-5" style="background-color: #E9EDF1;">
  <h1 style="padding-top: 8%; margin-bottom: 0%; font-weight: 700; color: #6200EE;">풀케어 챌린지</h1>
  <h2 style="margin-top: 2%; margin-bottom: 0%; font-weight: 700;">제공내용</h2>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">01</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">'저스트 챌린지' 제공내용 전체</h4>
  <%= image_tag '/full_1.png', class: "ml-4" %>

  <h3 style="margin-bottom: 1%; margin-top: 1%; font-weight: 700;">02</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">당신을 바꿔줄</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">"데일리 과제"</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 700;">식단기록+체중관리+운동기록</h4>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 400;">"사진만 보내주세요.</h3>
  <h3 style="margin-bottom: 1%; margin-top: 1%; font-weight: 400;">코치가 다 정리해드려요."</h3>

  <%= image_tag '/fit_5.png', class: "mt-5" %>
  <%= image_tag '/fit_6.png', class: "mt-3" %>
  <%= image_tag '/fit_7.png', class: "mt-3 mb-5" %>

  <h3 style="margin-bottom: 1%; margin-top: 6%; font-weight: 700;">03</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 700;">"데일리 리포트"</h4>
  <h4 style="margin-bottom: 0%; margin-top: 6%; font-weight: 400;">매일 전 날 <strong>섭취기록과 달성률,</strong></h4>
  <h4 style="margin-bottom: 0%; margin-top: 1%; font-weight: 400;">그리고 <strong>코치의 피드백</strong>이 담긴</h4>
  <h4 style="margin-bottom: 0%; margin-top: 1%; font-weight: 400;">데일리 리포트를 보내드려요.</h4>
  <%= image_tag '/fit_8.png', class: "mt-4 ml-4 mb-5" %>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">04</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 700;">"주간 리포트"</h4>
  <h4 style="margin-bottom: 0%; margin-top: 6%; font-weight: 400;">한 주간의 <strong>종합 평가,</strong></h4>
  <h4 style="margin-bottom: 0%; margin-top: 1%; font-weight: 400;"><strong>식사 트렌드, 운동피드백, 목표달성률,</strong></h4>
  <h4 style="margin-bottom: 0%; margin-top: 1%; font-weight: 400;"><strong>코치의 종합 피드백</strong>이 담긴</h4>
  <h4 style="margin-bottom: 0%; margin-top: 1%; font-weight: 400;">위클리 리포트를 보내드려요.</h4>
  <%= image_tag '/fit_9.png', class: "mt-4 ml-4 mb-5" %>

  <h3 style="margin-bottom: 1%; margin-top: 8%; font-weight: 700;">05</h3>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 700;">무제한 Q&A 세션</h4>
  <h4 style="margin-bottom: 0%; margin-top: 5%; font-weight: 400;">카톡방에 질문을 남기시면,</h4>
  <h4 style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">전담 코치님이 정성스럽게 답변해드려요.</h4>
  <%= image_tag '/fit_10.png', class: "mt-4 ml-3" %>
</div>

<div class="container text-left mt-4 pb-4">
  <div class="row ml-3">
    <h1 class="mr-4" style="color: #A46BF5; margin-bottom: 0%; font-weight: 400;">저스트 챌린지</h1>
    <%= link_to "신청하기", market_users_path(challenge: "저스트"), class: "btn", style: "color: #6200EE; background: #6200EE1F;" %>
  </div>

  <h3 class="ml-3 mt-4" style="margin-top: 2%; margin-bottom: 0%; font-weight: 700;"><span class="mr-1" style="color: #6200EE">무료</span><span style="color: #A46BF5">(2주/4주 선택)</span></h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 5%; font-weight: 400;">-챌린지머니 환급</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-계약서 작성</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-수료증 지급</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-리마인드 알람</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-하루 섭취 영양정보 리포트</h3>
</div>

<div class="container text-left mt-4 pt-4 pb-4" style="background-color: #FAF6FF">
  <div class="row ml-3">
    <h1 class="mr-4" style="color: #6200EE; margin-bottom: 0%; font-weight: 400;">풀케어 챌린지</h1>
    <%= link_to "신청하기", market_users_path(challenge: "풀케어"), class: "btn", style: "color: #6200EE; background: #6200EE1F;" %>
  </div>

  <h3 class="ml-3 mt-4" style="margin-top: 2%; margin-bottom: 0%; font-weight: 700;"><span class="mr-1" style="color: #6200EE">25,000원</span><span style="color: #A46BF5"> / 2주</span></h3>
  <h3 class="ml-3" style="margin-top: 1%; margin-bottom: 0%; font-weight: 700;"><span class="mr-1" style="color: #6200EE">49,000원</span><span style="color: #A46BF5"> / 4주</span></h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 5%; font-weight: 400;">-챌린지머니 환급</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-계약서 작성</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-수료증 지급</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-리마인드 알람</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-하루 섭취 영양정보 리포트</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 6%; font-weight: 700; color: #6200EE;">-데일리 과제</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 700; color: #6200EE;">-데일리 리포트</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 700; color: #6200EE;">-주간 리포트</h3>
  <h3 class="ml-3" style="margin-bottom: 0%; margin-top: 2%; font-weight: 700; color: #6200EE;">-무제한 Q&A</h3>
</div>
