<style>
  #change-color {
    background-color: #FFFFFF;
  }
  /* ul.morebox {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 340px;
    overflow-x: scroll;
  }
  ul.morebox li {
    display: inline;
  }
  ul.morebox li img {
    width: 45%;
    height: 45%;
    margin-right: 1%;
  } */
  h4 {
    font-size: 15px;
  }
  .centered {
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
  }
  .circle {
    position: relative;
    background-color: white;
    border: 1px solid #6200EE;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .page-footer {
    background-color: #48689a;
  }
</style>

<div class="container">
  <div class="first-header mt-3 pt-2" style="text-align: center;">
    <h1 style="font-size: 40px; margin-bottom: 0%; font-weight: 400;">알고 먹어야</h1>
    <h1 class="mb-5" style="font-size: 40px; margin-top: 0%; margin-left: 2%;">몸이 바뀐다!</h1>
    <h2 style="margin-bottom: 0%; font-weight: 700;">나만을 위한</h2>
    <h2 style="margin-bottom: 0%; margin-top: 1%; font-weight: 700;">식단 매니저</h2>
    <h1 style="color: #6200EE; margin-top: 1%; margin-bottom: 0%; font-weight: 700; letter-spacing: 2pt;">핏테이블</h1>
    <%= image_tag '/intro_logo.gif', style: "width: 50%;" %>
    <p class="mt-3" style="margin-bottom: 0%;">스크롤해서 내용보기</p>
    <%= image_tag '/scroll_arrow.gif', style: "width: 20%;" %>
  </div>
</div>

<div class="container" style="position: relative; padding-left: 0px; padding-right: 0px; text-align: center;">
  <%= image_tag '/fit_1.png', class: "mt-3 pt-5 mb-4", style: "width: 100%;" %>
  <h2 class="centered" style="letter-spacing: 1pt; color: white; margin-bottom: 0%; font-weight: 700;">어떻게 하면 원하는 몸을 <br> 가질 수 있을까?</h2>
</div>

<div class="container mt-3 mb-3" style="text-align: justify;">
  <h3 class="ml-4" style="margin-bottom: 0%; font-weight: 400; letter-spacing: 1pt;"><strong>핏테이블</strong>은 서울 내 피트니스센터 30여 <br> 곳에 스포츠 보충제를 공급하고 있고 약 <br> 150명의 파트너 트레이너들에게 PT회원 <br> 의 <strong>식단관리를 돕는 프로그램을 제공</strong>하 <br>고 있어요. </h3>
</div>

<div class="container text-center">
  <%= image_tag '/map.gif', class: "mt-3", style: "width: 80%;" %>
</div>

<div class="container mt-5">
  <h2 class="ml-3" style="margin-bottom: 0%; font-weight: 700;">모든 사람이 나만을 위한 <br> 식단관리를 받을 수 있도록</h2>
  <h3 class="ml-3" style="font-weight: 400;">식단 관리는 내가 어떻게 먹고 있는지<br>되돌아보는 것부터 시작해요.</h3>
</div>

<div class="container mt-5 pt-3 pb-5" style="background-color: #F9F5FF; text-align: left;">
  <span class="badge badge-pill mt-4" style="background-color: #6200EE; color: white;"><h3>Services 01</h3></span>
  <h3 class="ml-3" style="font-weight: 400;">어제 나는 어떻게 먹었는지 숫자로 확인할 수 있<br>는 <strong>일일 평가표</strong>를 매일 보내드려요.</h3>

  <div class="row mt-5">
    <div class="col-4">
      <div class="circle">
        <p style="color: #6200EE;"><strong>목표 칼로리</strong></p>
      </div>
    </div>
    <div class="col-4">
      <div class="circle">
        <p style="color: #6200EE;"><strong>탄, 단, 지</strong></p>
      </div>
    </div>
    <div class="col-4">
      <div class="circle">
        <p style="color: #6200EE;"><strong>실제 먹은 음식</strong></p>
      </div>
    </div>
  </div>
  <div class="container" style="text-align: center;">
    <i class="fas fa-3x fa-check mt-4" style="color: #6200EE"></i> <br>
    <button type="button" class="btn mt-4" style="background-color: #6200EE; color: white; border-radius: 5px;">하루 달성률</button>
  </div>
</div>
<div class="container pt-3 pb-2" style="text-align: left;">
  <span class="badge badge-pill mt-4" style="background-color: #F9F5FF; color: #6200EE;"><h3>Services 02</h3></span>
  <h3 style="font-weight: 400;">매 주 월요일, 저번 주는 어떻게 먹었는지 한 눈<br>에 볼 수 있도록 <strong>주간 평가표</strong>를 보내드려요.</h3>
  <div class="row">
    <div class="col-5">
      <%= image_tag '/chart.png', class: "mt-3", style: "width: 100%;" %>
    </div>
    <div class="col-2" style="margin-top: 15%;">
      <i class="fas fa-2x fa-plus" style="color: #6200EE;"></i>
    </div>
    <div class="col-5 mt-4">
      <div class="circle" style="background-color: #6200EE;">
        <h3 style="color: white;">전담 코치의 <br> <strong>종합 피드백</strong></h3>
      </div>
    </div>
  </div>
  <h3 class="mt-5 ml-3">Report Example</h3>
  <%= image_tag '/report_1.png', class: "mt-1", style: "width: 100%;" %>
  <%= image_tag '/report_2.png', class: "mt-5", style: "width: 100%;" %>
  <%= image_tag '/feedback.png', class: "mt-2", style: "width: 100%;" %>
</div>
<div class="container pt-3 pb-3" style="background-color: #F9F5FF; text-align: left;">
  <span class="badge badge-pill mt-4" style="background-color: #6200EE; color: white;"><h3>Services 03</h3></span>
  <h3 style="font-weight: 400;">회원님께 배정된 전담 코치님은 회원님이 어떻<br>게 먹고 있는지가 세상에서 제일 궁금해요. <br> 코치님께 언제든지 <strong>궁금한 점을 물어보세요.</strong></h3>
  <h3 class="mt-5" style="font-weight: 400;">부끄러워하지 않아도 돼요. <br> <strong>핏테이블은 블라인드니까 !</strong></h3>
  <div class="container text-center">
    <%= image_tag '/qna.png', style: "width: 50%;" %>
  </div>
</div>
<div class="container mt-4" style="text-align: left;">
  <div class="step1 mt-5">
    <h2 style="margin-top: 1%; font-weight: 700;">매일 사진만 보내세요!</h2>
  </div>
  <div class="step1-desc mt-3">
    <h3 style="margin-bottom: 0%; font-weight: 400;">매일 3가지 사진만 보내주시면 전담 코치님이 <br> 꼼꼼히 기록해 두었다가 평가표를 써 주실 거예요.</h3>
  </div>
  <div class="container text-center mt-5">
    <%= image_tag '/picture.png', style: "width: 30%;" %>
    <h3 style="margin-bottom: 0%; font-weight: 400;">*일일 과제: <strong>음식사진, 체중, 운동기록(선택)</strong></h3>
  </div>
</div>

<div class="container text-center mt-5 pb-4" style="background-color: #F9F5FF;">
  <button type="button" class="btn mt-5" style="background-color: #6200EE; color: white; border-radius: 5px;"><h3>필수 과제 01</h3></button>
  <h3 style="margin-top: 5%; margin-bottom: 0%; font-weight: 400;">매일 사소한 거 하나도 빠짐없이 <br> 먹은 음식 사진을 모두 보내주세요.</h3>
  <%= image_tag '/fit_5.png', class: "mt-3 mb-2" %>

  <button type="button" class="btn mt-5" style="background-color: #6200EE; color: white; border-radius: 5px;"><h3>필수 과제 02</h3></button>
  <h3 style="margin-top: 5%; margin-bottom: 0%; font-weight: 400;">매일 아침 공복체중을 <br> 기록하는 것도 잊지 마시구요.</h3>
  <%= image_tag '/fit_6.png', class: "mt-3 mb-2" %>

  <button type="button" class="btn mt-5" style="background-color: #6200EE; color: white; border-radius: 5px;"><h3>선택과제</h3></button>
  <h3 style="margin-top: 5%; margin-bottom: 0%; font-weight: 400;">운동한 날이면 간단하게 <br> 어떤 운동을 했는지 알려주세요.</h3>
  <%= image_tag '/fit_7.png', class: "mt-3" %>
</div>

<div class="container pt-3">
  <div class="step1 mt-5">
    <h1 class="ml-3 mb-5" style="margin-top: 1%; font-weight: 700;">이번엔 진짜다!</h1>
  </div>
  <!-- <h2 class="ml-3" style="margin-top: 10%; margin-bottom: 5%; font-weight: 400;">당신의 의지를 꽉 잡아줄 <span style="color: #6200EE;">핏테이블</span> <br> 오늘의 결심은 오래가지 않아요.<br> <br> 당신의 의지를 굳건하게 해 줄 <br> <strong>2가지 장치!</strong></h2> -->
  <!-- <div class="container text-center mb-5 pb-4">
    <%#= image_tag '/commit.png', class: "mt-5", style: "width: 60%;" %>
    <%#= image_tag '/money.png', class: "mt-5 mb-3", style: "width: 60%;" %>
    <h2 style="font-weight: 400;">당신의 목표의 무게만큼 <br> 돈을 거세요.</h2>
    <i class="fas fa-3x fa-check mt-4" style="color: #6200EE"></i> <br>
    <h3 style="color: #6200EE; font-weight: 400;">매일 과제 <strong>달성률만큼</strong> <br> 프로그램 종료일에 <strong>환급</strong>해 드립니다.</h3>
  </div> -->
  <button type="button" class="btn" style="background-color: #6200EE; color: white; border-radius: 5px;"><h3>Real Review</h3></button>
  <%= image_tag '/room.png', class: "mt-4", style: "width: 100%;" %>
  <%= image_tag '/beta.png', class: "mt-4", style: "width: 100%;" %>
</div>

<h3 style="font-weight: 400;">당신은 어떤 선택을 하시겠습니까?</h3>
<%= image_tag '/compare.png', class: "mt-4 mb-4", style: "width: 100%;" %>

<div class="container text-left mt-3 pt-4 pb-2" style="background-color: #FAF6FF">
  <h1 class="pt-5 text-center" style="color: #6200EE; margin-bottom: 0%;">핏테이블 식단관리 프로그램</h1>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 15%; font-weight: 400;">-영양정보 리포트</h3>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-나와의 계약서</h3>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-일일과제 제공</h3>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-매 끼 리마인드 알람</h3>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-수료증 지급</h3>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-일일 평가표</h3>
  <h3 class="ml-5" style="margin-bottom: 0%; margin-top: 2%; font-weight: 400;">-주간 평가표</h3>
  <h3 class="ml-5" style="margin-bottom: 10%; margin-top: 2%; font-weight: 400;">-전담 코치 Q&A 세션</h3>

  <div class="container text-center">
    <%= image_tag '/event.png', style: "width: 100%;" %>
  </div>

  <div class="row mt-2 text-center">
    <h3 style="background-color: white; width: 100%; color: #6200EE; position: fixed; opacity: 0.65; bottom: 40px; height: 50px; padding-top: 15px;"><%= Time.now.strftime('%H:%M') %> 현재 <%= rand(3..8) %>명이 설문을 진행 중입니다.</h3>
    <%= link_to "시작하기", fit_table_survey_path(challenge: "풀케어"), class: "btn", style: "font-size: 25px; border: 1px solid #6200EE; width: 100%; color: white; background: #6200EE; position: fixed; bottom: 0px; height: 50px;" %>
  </div>
  <!-- <div class="fixed-bottom button p-3 text-center" style="right:3%;left:unset;bottom:10%;background-color:#E2D1F8;border-radius:50%;">
    <a href="tel:02-878-3087" style="color:#6200EE;">
      <i class="far fa-phone mb-2" style="font-size:30px;"></i>
      <div class="px-2 font-weight-bold" style="font-size:12px;">전화하기</div>
    </a>
  </div> -->

</div>

<!-- Footer -->
<footer class="page-footer font-small teal pt-3 pb-5 text-white text-left">
  <!-- Footer Text -->
  <div class="container-fluid">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 mt-md-0">
        <small>상호명: 주식회사 고릴라밤</small> <br>
        <small>대표자: 박영록, 박진배</small> <br>
        <small>사업자등록번호: 746-87-01862</small> <br>
        <small>이메일: gorillabombb@gmail.com</small> <br>
        <small>연락처: 02-878-3087</small>
      </div>
    </div>
  </div>
  <div class="footer-copyright py-2 ml-3 pb-4"></div>
</footer>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;" id="refund-trigger"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= image_tag '/new_popup2.png', style: "width: 100%;"%>
  <div class="modal-dialog" role="document">
    <div class="modal-footer row justify-content-center new_modal_footer">
      <button type="button" class="btn text-white" style="background-color: #200e57; width: 30%;" data-dismiss="modal">확인</button>
    </div>
  </div>
</div>
<!-- Footer -->

<script>
  $(document).ready(function() {
    $("#refund-trigger").click();
  });
</script>
