<%= render 'users/market_style' %>
<style>
  .line-height-30 {
    line-height: 30px;
  }
  body {
    background: #e9edf1 !important;
  }
  input {
    border: 1px solid #202649 !important;
  }
  .ui.selection.dropdown .menu {
    max-height: 11.014286rem;
  }
</style>
<div class="text-left px-4 py-3 bg-white">
  <%= link_to survey_path do %>
    <%= image_tag "/list_logo.png", class: "w-50" %>
  <% end %>
</div>
<div class="progress mt-0 mb-3" style="height:10px;">
  <div class="progress-bar" id="top-progress-bar" role="progressbar" style="width:25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<%= form_tag recommend_diets_path, id: :recommend, method: :get, remote: true do %>
  <div class="tab-content" id="myTabContent">
    <%= render 'survey_tab_pane', index: 0, next_tab: 1 do %>
      <!-- <h2 class="mb-5 main-text-color">필요한 칼로리를 구하기 위한<br>알고리즘</h2>-->
      <h4 class="main-text-color text-left">신체정보와 목표를 입력해주세요.</h4>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <%= label_tag "age", "나이(만)", class: "col-5 text-left line-height-30 font-weight-bold" %>
            <%= text_field_tag "age", (params[:age] or 24), class: "form-control mb-3 col-6", required: true %>
          </div>
          <div class="row">
            <%= label_tag  "height", "키(cm)", style: "", class: "col-5 pr-1 text-left font-weight-bold" %>
            <%= number_field_tag "height", (params[:height] or 163), class: "form-control mb-3 col-6", required: true %>
          </div>
          <div class="row">
            <%= label_tag "weight", "체중(kg)", class: "col-5 text-left line-height-30 font-weight-bold" %>
            <%= number_field_tag "weight", (params[:weight] or 55), class: "form-control mb-3 col-6", required: true %>
          </div>
          <div class="row">
            <%= label_tag  "gender", "성별", style: "", class: "col-5 pr-1 text-left font-weight-bold"  %>
            <%= select_tag "gender", options_for_select(%w(여 남)), class: "form-control mb-3 col-6 px-1 custom_option pl-3", required: true %>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <%= label_tag "target_weight", "목표 체중", class: "col-4 pl-1 text-left line-height-30 font-weight-bold" %>
            <%= number_field_tag "target_weight", (params[:target_weight] or 53), class: "form-control mb-3 col-5", required: true %>
            <div class="col-2 p-0 line-height-30 main-text-color">kg</div>
          </div>
          <div class="row">
            <%= label_tag "target_date", "목표 날짜", class: "col-4 pl-1 text-left line-height-30 font-weight-bold" %>
            <%= text_field_tag "target_date", (params[:target_date] or (Date.current + 3.months)) , class: "form-control col-6", readonly: true, required: true %>
          </div>
        </div>
      </div>

      <h4 class="main-text-color text-left">당신의 활동량은 어떻게 되시나요?</h4>
      <% options = ["대부분 앉아있는다. ex) 사무직", "조금 활동적인 편이다.", "걷는걸 좋아하고 돌아다닐일이 많다.", "많이 활동 하는 생활을 한다. ex) 영업직", "매우 매우 활동적이다. ex) 영업직, 서비스직"]%>
      <%= select_tag "activity", options_for_select(options, "조금 활동적인 편이다."), class: "form-control mb-1 col-12 pl-3 custom_option", required: true %>

      <h4 class="main-text-color text-left">당신은 1회 운동할 때 평균 몇 분을 운동 하시나요?</h4>
      <div class="row mx-0 main-text-color">
        <%= number_field_tag "work_time", (params[:work_time] or 60), class: "form-control col-10 text-right", required: true %>
        <span class="line-height-30 pl-3 main-text-color">분</span>
      </div>

      <h4 class="main-text-color text-left">당신은 그 운동을 주 몇 회 이상 하실 계획입니까?</h4>
      <div class="row mx-0 main-text-color">
        <%= number_field_tag "work_count", (params[:work_count] or 3), class: "form-control col-10 text-right", required: true %>
        <span class="line-height-30 pl-3 main-text-color">회</span>
      </div>

    <% end %>

    <%= render 'survey_tab_pane', index: 1, prev_tab: 0, next_tab: 2 do %>

      <h4 class="main-text-color mt-2 text-left">아침을 간단하게 먹는 편인가요?</h4>
      <div class="row pb-1 mx-0 main-text-color">
        <% options = [["평균적으로", 500], ["간단하게", 400], ["푸짐하게", 600], ["안먹는다", 0]] %>
        <%= select_tag "morning", options_for_select(options), class: "form-control mb-3 col-12 px-1 custom_option pl-3" %>
      </div>

      <h4 class="main-text-color mt-2 text-left">점심은 어느정도로 먹나요?</h4>
      <div class="row pb-1 mx-0 main-text-color">
        <% options = [["평균적으로", 700], ["간단하게", 600], ["푸짐하게", 800], ["안먹는다", 0]] %>
        <%= select_tag "lunch", options_for_select(options), class: "form-control mb-3 col-12 px-1 custom_option pl-3" %>
      </div>

      <h4 class="main-text-color mt-2 text-left">저녁을 푸짐하게 먹는 편인가요?</h4>
      <div class="row pb-1 mx-0 main-text-color">
        <% options = [["평균적으로", 800], ["간단하게", 700], ["푸짐하게", 900], ["안먹는다", 0]] %>
        <%= select_tag "dinner", options_for_select(options), class: "form-control mb-3 col-12 px-1 custom_option pl-3" %>
      </div>

      <h4 class="main-text-color mt-2 text-left">간식을 하루에 몇 번 먹나요?</h4>
      <div class="row pb-3 mx-0 main-text-color">
        <%= number_field_tag "snack", (params[:snack] or 1), class: "form-control col-10 text-right", required: true %>
        <span class="line-height-30 pl-3 main-text-color">회</span>
      </div>

      <h4 class="main-text-color mt-2 text-left">야식, 회식은 일주일에 몇번 인가요?</h4>
      <div class="row pb-3 mx-0 main-text-color">
        <%= number_field_tag "drink", (params[:drink] or 1), class: "form-control col-10 text-right", required: true %>
        <span class="line-height-30 pl-3 main-text-color">회</span>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: 2, prev_tab: 1, next_tab: -1 do %>
      <h4 class="main-text-color mt-2 text-left">식단관리를 통해 어떤 목표를 이루고 싶나요?</h4>
      <div class="row pb-3 mx-0 main-text-color">
        <% options = [["다이어트", :slim], ["벌크업", :bulk_up]] %>
        <%= select_tag "purpose", options_for_select(options), class: "form-control mb-3 col-12 px-1 custom_option pl-3" %>
      </div>

      <h4 class="main-text-color mt-2 text-left">평소에 단백질을 많이 섭취하십니까?</h4>
      <div class="row pb-3 mx-0 main-text-color">
        <% options = [["아니오", :low], ["네", :high]] %>
        <%= select_tag "protein", options_for_select(options), class: "form-control mb-3 col-12 px-1 custom_option pl-3" %>
      </div>


      <h4 class="main-text-color mt-2 text-left">당신은 일주일 동안 한 종류의 음식만 먹는다면 어떤걸 드실건가요?</h4>
      <div class="row pb-3 mx-0 main-text-color">
        <% options = ["고기 류", "빵, 밥, 면"] %>
        <%= select_tag "dummy4", options_for_select(options), class: "form-control mb-3 col-12 px-1 custom_option pl-3" %>
      </div>

      <h4 class="main-text-color mt-2 text-left">당신이 지금 떠오르는 제일 먹고 싶은 음식 한 가지를 써주세요 </h4>
      <div class="row pb-3 mx-0 main-text-color">
        <%= text_field_tag "dummy5", "", class: "form-control col-12", placeholder: "ex) 라면, 햄버거" %>
      </div>
    <% end %>

    <%= render 'survey_tab_pane', index: -1, prev_tab: 2 do %>
      <!-- <h2 class="mb-5 main-text-color">계산결과</h2>-->
      <div class="container text-white py-4">

        <h4 class="bg-custom-grey main-text-color py-2 line-height-25" style="margin-top:-15px;">계산 결과</h4>
        <div class="row mx-0 pt-3 main-text-color">
          <div class="col-12">
            <div class="border cal_result row">
              <div class="col-5">
                <div class="py-3">
                  <div class="calorie-title mb-2">현재 하루 섭취 칼로리</div>
                  <div class="d-flex justify-content-center">
                    <h4 class="mb-0" id="current-calorie-amount">0000</h4> &nbsp; <span class="secondary-text-color">Kcal</span>
                    <%= hidden_field_tag :current_calorie %>
                  </div>
                </div>
              </div>
              <div class="col-2 m-auto">
                <i class="fas fa-caret-right" style="font-size:30px;"></i>
              </div>
              <div class="col-5">
                <div class="py-3">
                  <div class="calorie-title mb-2">목표 하루 섭취 칼로리</div>
                  <div class="d-flex justify-content-center">
                    <h4 class="mb-0" id="target-calorie-amount">0000</h4> &nbsp; <span class="secondary-text-color">Kcal</span>
                    <%= hidden_field_tag :target_calorie %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h3 class="main-text-color mt-4 mb-5" id="difference"></h3>
            <div class="row" id="sub_items"></div>
          </div>
        </div>
      </div>
      
      <div class="mt-3 mb-3 col-12">
        <a class="btn btn-block btn-custom-grey nav-btn" id="tab-button-2" data-toggle="tab" href="#tab-2" role="tab" onclick="$('#top-progress-bar').width('75%')">이전</a>
      </div>

      <div class="p-3 mb-3">
        <small>저희 칼로리 계산기를 잘 이용 해보셨나요?<br>이용하시면서 저희에게 피드백 주실 내용이 있으시다면,<br>아래 바로가기 링크를 통해 설문조사에 참여해주세요!<br>추첨을 통해 기프티콘을 드립니다.<br> <u class="font-weight-bold"><%= link_to "바로가기", "https://forms.gle/ZHmhoyp4pjMBWaZJ8" %></u></small>
      </div>
      
      <%= render 'users/sub_items_and_calorie_bar' %>
    <% end %>
  </div>
<% end %>

<script>
  $('.custom_option').dropdown();

  var total_calorie_rate = ideal_carbo = ideal_protein = ideal_fat = 0;

  $(".nav-btn").click(function(){
    $(this).removeClass("active");
  });
  $("#target_date").datepicker({
                dateFormat: 'yy-mm-dd' //Input Display Format 변경
                ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
                ,showMonthAfterYear:true //년도 먼저 나오고, 뒤에 월 표시
                ,changeYear: true //콤보박스에서 년 선택 가능
                ,changeMonth: true //콤보박스에서 월 선택 가능
                ,buttonImageOnly: true //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
                ,buttonText: "선택" //버튼에 마우스 갖다 댔을 때 표시되는 텍스트
                ,yearSuffix: "년" //달력의 년도 부분 뒤에 붙는 텍스트
                ,monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'] //달력의 월 부분 텍스트
                ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip 텍스트
                ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 부분 텍스트
                ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 부분 Tooltip 텍스트
                ,minDate: "+90D" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
                ,maxDate: "+10Y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
            });

  $(".calculate-btn").click(function(){
    // 1. 기초대사량
    let age = parseFloat($("#age").val());
    let height = parseFloat($("#height").val());
    let weight = parseFloat($("#weight").val());
    let man = ($("#gender").val() == "남")
    let gender_c = man ? 5 : -161;
    let base_calorie_rate = Math.round(10 * weight + 6.25 * height - 5 * age + gender_c)

    // 2. 활동대사량
    let activity = $("#activity").val();
    if(activity == "대부분 앉아있는다. ex) 사무직") {
      total_calorie_rate = 1.2 * base_calorie_rate
    } else if(activity == "조금 활동적인 편이다.") {
      total_calorie_rate = 1.375 * base_calorie_rate
    } else if(activity == "걷는걸 좋아하고 돌아다닐일이 많다.") {
      total_calorie_rate = 1.555 * base_calorie_rate
    } else if(activity == "많이 활동 하는 생활을 한다. ex) 영업직") {
      total_calorie_rate = 1.725 * base_calorie_rate
    } else {
      total_calorie_rate = 1.9 * base_calorie_rate
    }
    let target_weight = parseFloat($("#target_weight").val());
    let target_date = $("#target_date").val();
    let difference = (target_weight - weight);
    let standard_kcal = (difference < 0) ?  7200 : 9000;
    target_date = new Date(target_date);
    let today = new Date();
    let diffTime = Math.abs(target_date - today);
    let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    let purpose = $("#purpose").val();
    let work_time = parseFloat($("#work_time").val()) / 60;
    let work_count = parseInt($("#work_count").val());
    // let kcal = (parseInt($("#kcal").val()) * 700);

    let kcal = (parseInt($("#morning").val()) + parseInt($("#lunch").val()) + parseInt($("#dinner").val())) * (man ? 1 : 0.9) ;
    let snack = (parseInt($("#snack").val()) * 250);
    let drink = (parseInt($("#drink").val()) * 700) / 7;

    //3. 현재 섭취 칼로리
    let present_result = kcal + snack + drink

    //4. 기초대사량과 활동 대사량을 합한 총 대사량으로 목표 칼로리 계산
    let target_result = total_calorie_rate + ((standard_kcal * difference) / diffDays) + ((work_count * work_time * 330) / 7);

    if (isNaN(present_result) || isNaN(target_result)){
      Swal.fire({
        title: "계산실패",
        button: false,
        text: "값을 모두 입력해주세요."
      });
      return false;
    }else {
      $("#current-calorie-amount").text(`${present_result.toFixed(2)}`);
      $("#target-calorie-amount").text(`${target_result.toFixed(2)}`);
      $("#current_calorie").val(`${present_result.toFixed(2)}`);
      $("#target_calorie").val(`${target_result.toFixed(2)}`);

      total_calorie_rate = target_result.toFixed(2);
      ideal_protein = Math.round(target_weight * 1.5)
      ideal_fat = Math.round(target_weight * 1.1)
      ideal_carbo = Math.round((total_calorie_rate - (ideal_protein * 4) - (ideal_fat * 9)) / 4)

      $("#current-calorie-bar").height(`${present_result.toFixed(2)/60}%`);
      $("#target-calorie-bar").height(`${target_result.toFixed(2)/60}%`);
      ga('send', 'pageview', '<%= recommend_diets_path %>');
      gtag('config', 'UA-158638310-3', {
          page_title: '<%= "#{controller_name} #{action_name}" %>',
          page_location: '<%= recommend_diets_path %>',
          page_path: '<%= recommend_diets_path %>'
        });
      Rails.fire($('#recommend')[0], 'submit');
    }
  });
</script>
