<div class="container text-white">
  <h3 class="text-left mb-5">결제요청</h3>
  <div class="row">
    <div class="col-12 text-left">
      <div class="form-group">
        <label for="paymentMethod" class="mt-3">결제 방법</label>
        <input type="text" class="form-control" id="paymentMethod" value="<%= @order.payment_method %>" readonly>
      </div>
      <div class="form-group">
        <label for="price">결제 금액</label>
        <input type="text" class="form-control" id="price" value="<%= @order.total %>" readonly>
      </div>
      <div class="form-group">
        <label for="inputFirstName">상품 이름</label>
        <input type="text" class="form-control" id="item_name" value="<%= @order.line_items.map { |line_item| line_item.item.title }.flatten.join(" ") %>" readonly>
      </div>
      <div class="form-group">
        <label for="order_name">주문자</label>
        <input type="text" class="form-control" id="order_name" value="<%= @order.order_name %>" readonly>
      </div>
      <!-- <div class="form-group">
        <label for="order_email">주문자 이메일</label>
        <input type="text" class="form-control" id="order_email" value="<%#= @order.order_email %>" readonly>
      </div> -->
      <div class="form-group">
        <label for="order_phone">주문자 휴대폰 번호</label>
        <input type="text" class="form-control" id="order_phone" value="<%= @order.order_phone %>" readonly>
      </div>
    </div>
  </div>
  <button class="btn btn-lg mt-5 text-white" style="background-color: #757CFF; width: 240px;" id="request_pay" onclick="requestPay(<%= @order.total %>, <%= @order.number %>, <%= @order.id %>)">다음</button>
</div>

<script>
  function requestPay(total, number, id) {
    $.ajax({
      url: "/apis/pay_url",
      type: "POST",
      dataType: "json",
      beforeSend: function ( xhr ) {
        xhr.setRequestHeader( 'X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));
      },
      data: {
        total: total,
        number: number,
        id: id
      },
      success: function(data) {
        location.href = data.next_redirect_pc_url
      }
    })
  }

  // $('#request_pay').click(function () {
  //   BootPay.request({
  //   	price: <%#= @order.total %>, //실제 결제되는 가격
  //   	application_id: "5eb2230002f57e002d1edd8a",
  //   	name: 'MoreBox', //결제창에서 보여질 이름
  //   	pg: 'inicis',
  //   	method: '', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
  //   	show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
  //   	items: [
  //   		{
  //   			item_name: '나는 아이템', //상품명
  //   			qty: 1, //수량
  //   			unique: '123', //해당 상품을 구분짓는 primary key
  //   			price: 1000, //상품 단가
  //   			cat1: 'TOP', // 대표 상품의 카테고리 상, 50글자 이내
  //   			cat2: '티셔츠', // 대표 상품의 카테고리 중, 50글자 이내
  //   			cat3: '라운드 티', // 대표상품의 카테고리 하, 50글자 이내
  //   		}
  //   	],
  //   	user_info: {
  //   		username: "<%#= current_user.username %>",
  //   		email: 'abc@com',
  //   		addr: "<%#= @order.address1 %>",
  //   		phone: "<%#= @order.order_phone %>"
  //   	},
  //   	order_id: '고유order_id_1234', //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
  //   	params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
  //   	account_expire_at: '2018-05-25', // 가상계좌 입금기간 제한 ( yyyy-mm-dd 포멧으로 입력해주세요. 가상계좌만 적용됩니다. )
  //   	extra: {
  //   	    start_at: '2019-05-10', // 정기 결제 시작일 - 시작일을 지정하지 않으면 그 날 당일로부터 결제가 가능한 Billing key 지급
  //   		end_at: '2022-05-10', // 정기결제 만료일 -  기간 없음 - 무제한
  //           vbank_result: 1, // 가상계좌 사용시 사용, 가상계좌 결과창을 볼지(1), 말지(0), 미설정시 봄(1)
  //           quota: '0,2,3' // 결제금액이 5만원 이상시 할부개월 허용범위를 설정할 수 있음, [0(일시불), 2개월, 3개월] 허용, 미설정시 12개월까지 허용
  //   	}
  //   }).error(function (data) {
  //   	//결제 진행시 에러가 발생하면 수행됩니다.
  //   	console.log(data);
  //   }).cancel(function (data) {
  //   	//결제가 취소되면 수행됩니다.
  //   	console.log(data);
  //   }).ready(function (data) {
  //   	// 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
  //   	console.log(data);
  //   }).confirm(function (data) {
  //   	//결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
  //   	//주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
  //   	console.log(data);
  //   	var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
  //   	if (enable) {
  //   		BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
  //   	} else {
  //   		BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
  //   	}
  //   }).close(function (data) {
  //       // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
  //       console.log(data);
  //   }).done(function (data) {
  //   	//결제가 정상적으로 완료되면 수행됩니다
  //   	//비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
  //   	console.log(data);
  //   });
  // });


 //  $('#request_pay').click(function () {
 //    var IMP = window.IMP; // 생략가능
 //    IMP.init('imp15646341'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
 //    IMP.request_pay({
 //        pg : 'inicis', // version 1.1.0부터 지원.
 //        pay_method : 'card',
 //        merchant_uid : 'merchant_' + new Date().getTime(),
 //        name : 'MoreBox',
 //        amount : <%#= @order.total %>,
 //        // buyer_email : 'iamport@siot.do',
 //        buyer_name : '<%#= @order.order_name %>',
 //        buyer_tel : '<%#= @order.order_phone %>',
 //        buyer_addr : '<%#= @order.address1 %>',
 //        buyer_postcode : '<%#= @order.zipcode %>'
 //        // m_redirect_url : 'http://localhost:3000/orders/complete'
 //    }, function(rsp) {
 //        if ( rsp.success ) {
 //          jQuery.ajax({
 //            url: "http://localhost:3000/orders/index", // 가맹점 서버
 //            method: "GET",
 //            headers: { "Content-Type": "application/json" },
 //            data: {
 //              imp_uid: rsp.imp_uid,
 //              merchant_uid: rsp.merchant_uid
 //            }
 //          }).done(function (data) {
 //          // 가맹점 서버 결제 API 성공시 로직
 //
 //     //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
 //          if ( everythings_fine ) {
 //            var msg = '결제가 완료되었습니다.';
 //            msg += '고유ID : ' + rsp.imp_uid;
 //            msg += '상점 거래ID : ' + rsp.merchant_uid;
 //            msg += '결제 금액 : ' + rsp.paid_amount;
 //            msg += '카드 승인번호 : ' + rsp.apply_num;
 //        } else {
 //            var msg = '결제에 실패하였습니다.';
 //            msg += '에러내용 : ' + rsp.error_msg;
 //        }
 //        alert(msg);
 //    });
 //   }
 //  })
 // })
</script>
