<style>
  #change-color {
    background-color: #e9eef2;
  }
  #smoke {
    background-image: url('/smoke.gif');
    background-repeat: no-repeat;
  }
  #telNumber {
    font-size: 25px;
    border-radius: 20px;
    border: 5px solid #0f4c81;
    text-align: center;
  }
  #login-confirm {
    border: none;
    background: none;
  }
  .span4
  {
    width: 23%;
    float: left;
    margin: 2% 2% 2% 7%;
  }
  .tel
  {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 5px solid #9e9e9e;
    border-radius: 0px;
  }
  .num
  {
    border: 1px solid #48689a;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -moz-border-radius: 999px;
    height: 70px;
    color: #333;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato' , sans-serif;
    line-height: 70px;
  }
  .num:hover
  {
    background-color: #48689a;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
  }
  #regi-button {
    margin-top: 30px;
    width: 60%;
  }

  /* 핸드폰일 때 */
  @media (min-width: 320px) and (max-width: 480px) {
    .span4
    {
      width: 31%;
      float: left;
      margin: 3% 1% 3% 1%;
    }
    .num {
      height: 50px;
    }
    .txt {
      margin-top: 10px;
      font-size: 17px;
      text-align: center;
    }
    #telNumber {
      width: 200%;
      margin-left: 10px;
      margin-top: 80px;
    }
    #dial-pad {
      padding-left: 0;
      padding-right: 10px;
    }
    #regi-button {
      margin-top: 110px;
      width: 100%;
    }
  }
</style>

<div class="container mt-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mb-4">
      <div class="col-6 mt-5">
      <!-- <div class="col-6 mt-2"> -->
        <%#= image_tag '/logo 2.png', class: "mb-5", id: "main-logo" %>
        <%= image_tag '/morebox.png', class: "mb-5", id: "main-logo" %>
        <%= f.text_field :phone, id: "telNumber", class: "form-control tel", value: "010", readonly: true %>
        <%= f.hidden_field :password, value: "111111" %>
      </div>
      <div class="col-6">
        <% (1..9).each do |num| %>
          <div class="span4">
            <div class="num">
              <div class="txt">
                <%= num %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="span4">
          <div class="num">
            <div class="txt">
              <%#= link_to "clear", '#', class: "text-white", type: "reset" %>
              <%# button_tag "←", type: :reset, style: "border: none; background: none;" %>
              <%= link_to "←", "#", class: "text-dark back-btn", onclick: "$('#telNumber').val($('#telNumber').val().slice(0,-1));return false;", style: "border: none; background: none;" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="num">
            <div class="txt">
              0
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="num" style="background-color: #757CFF;">
            <div class="txt">
              <%= f.submit "Go!", id: "login-confirm", class: "text-white" %>
            </div>
          </div>
        </div>
        <%= link_to "가입", new_user_registration_path(), class: "btn btn-lg text-white mb-2", style: "background-color: #757CFF;", id: "regi-button" %>
      </div>
    </div>
  <% end %>
  <%#= render "devise/shared/links" %>
</div>

<script>
  $(document).ready(function () {
    $('.num').click(function () {
        var num = $(this);
        var text = $.trim(num.find('.txt').clone().children().remove().end().text());
        var telNumber = $('#telNumber');
        $(telNumber).val(telNumber.val() + text);
    });

    $('#regi-button').click(function () {
      var telNumber = $('#telNumber');
      var phone = $(telNumber).val();
      var url = $('#regi-button').attr('href') + '?phone=' + phone;
      $('#regi-button').attr('href', url);
    });
    // $(".back-btn").click(function(e){
    //   e.preventDefalut();
    //   $("#telNumber").val($("#telNumber").val().slice(0,-1));
    //   return false;
    // })
  });
</script>



<%# 모어박스 쇼핑몰 형태 %>
<% if false %>
  <style>
    #smoke {
      background-image: url('/smoke.gif');
      background-repeat: no-repeat;
    }
    #telNumber {
      font-size: 25px;
      border-radius: 20px;
      border: 5px solid #0f4c81;
      text-align: center;
    }
    #login-confirm {
      border: none;
      background: none;
    }
    .span4
    {
      width: 23%;
      float: left;
      margin: 2% 2% 2% 2%;
    }
    .tel
    {
      margin-bottom: 10px;
      margin-top: 10px;
      border: 5px solid #9e9e9e;
      border-radius: 0px;
    }
    .num
    {
      border: 1px solid #48689a;
      -webkit-border-radius: 999px;
      border-radius: 999px;
      -moz-border-radius: 999px;
      height: 70px;
      color: #333;
      cursor: pointer;
    }
    .num:hover
    {
      background-color: #48689a;
      color: #fff;
      transition-property: background-color .2s linear 0s;
      -moz-transition: background-color .2s linear 0s;
      -webkit-transition: background-color .2s linear 0s;
      -o-transition: background-color .2s linear 0s;
    }
    .txt
    {
      font-size: 30px;
      text-align: center;
      margin-top: 15px;
      font-family: 'Lato' , sans-serif;
      line-height: 30px;
      color: #fff;
    }
    .icon {
      float: right
      top: 24px
      right: 6px
      position: relative
      z-index: 2
      color: grey
    }
    .cancel {
      float: right;
      margin-right: 6px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
      color: #0f4c81;
    }

    /* 핸드폰일 때 */
    @media (min-width: 320px) and (max-width: 480px) {
      .span4
      {
        width: 31%;
        float: left;
        margin: 3% 1% 3% 1%;
      }
      .num {
        height: 50px;
      }
      .txt {
        margin-top: 10px;
        font-size: 17px;
      }
      #telNumber {
        margin-top: 50px;
        width: 200%;
        margin-left: 10px;
      }
      .cancel {
        float: right;
        /* margin-right: 6px; */
        padding-left: 90px;
        margin-top: -25px;
        position: fixed;
        z-index: 2;
        color: #0f4c81;
      }
      #dial-pad {
        padding-left: 0;
        padding-right: 10px;
      }
    }
  </style>

  <div class="container" style="margin-top: 80px;" id="smoke">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-6">
          <%= image_tag '/logo 2.png', class: "mb-5", id: "main-logo" %>
          <%= f.text_field :phone, id: "telNumber", class: "form-control tel", value: "010" %>
          <button class="btn cancel" type="reset"><span class="fas fa-backspace icon cancel"></span></button>
          <%= f.hidden_field :password, value: "111111" %>
        </div>
        <div class="col-6">
          <div class="container clearfix" id="dial-pad">
            <div class="span4">
              <div class="num">
                <div class="txt">
                  1
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  2
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  3
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  4
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  5
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  6
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  7
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  8
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  9
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  <%= link_to "가입", new_user_registration_path, class: "text-white" %>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  0
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="num">
                <div class="txt">
                  <%= f.submit "확인", class: "text-white", id: "login-confirm" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%#= render "devise/shared/links" %>
  </div>

  <script>
    $(document).ready(function () {
      $('.num').click(function () {
          var num = $(this);
          var text = $.trim(num.find('.txt').clone().children().remove().end().text());
          var telNumber = $('#telNumber');
          $(telNumber).val(telNumber.val() + text);
      });
    });
  </script>
<% end %>
