<%= render 'shared/login' %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">
    <div class="husk">
      <div class="left mr-5">
        <%= image_tag '/new_main_logo.png', id: "main-logo" %>
        <div class="form-group text-left">
          <div class="row justify-content-center mt-4">
            <div class="col-md-6">
              <p style="color: #200e57; line-height: 35px; font-size: 20px;">지점을 선택해주세요</p>
            </div>
            <div class="col-md-6">
              <%= f.select :gym_id, options_for_select(Gym.all.map { |g| [g.title, g.id] }, cookies[:gym_id]), { prompt: "선택해주세요." }, { class: 'form-control', id: 'select_gym_id', require: true } %>
            </div>
          </div>
        </div>
        <%= f.text_field :phone, id: "telNumber", class: "form-control tel", value: "010", readonly: true %>
      </div>
      <div class="right">
        <% (1..9).each do |num| %>
          <div class="span4">
            <div class="num">
              <div class="txt">
                <%= num %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="span4">
          <div class="num" style="background-color: #cfd3df">
            <div class="txt">
              <%= link_to "←", "#", class: "back-btn", onclick: "$('#telNumber').val($('#telNumber').val().slice(0,-1));return false;", style: "border: none; background: none; color: #200e57;" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="num">
            <div class="txt">
              0
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="num" style="background-color: #cfd3df">
            <div class="txt">
              <%= link_to "Go", "#", id: "login-confirm", style: "color: #200e57;" %>
            </div>
          </div>
        </div>
        <%= image_tag '/new_guide.png', id: "new_guide", class: 'mt-3', data: { toggle: "modal", target: "#exampleModal" } %>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header d-block" style="color: #200e57; background-color: #cfd3df;">
                <h5 class="modal-title text-center" id="exampleModalLabel">모어박스가 처음이신가요?</h5>
              </div>
              <div class="modal-body" style="color: #200e57;">
                <h3 class="mt-3">회원가입 어렵지 않아요!</h3> <br>
                <p style="font-size: 18px;">3초 만에 간편하게 <br> 회원가입 완료!</p> <br>
                <p style="font-size: 18px;">이용하시는 <strong>지점 선택 -> 핸드폰 번호</strong> 입력 후 <br> <strong>GO</strong>를 눌러주세요!</p>
              </div>
              <div class="modal-footer row justify-content-center new_modal_footer">
                <button type="button" class="btn text-white" style="background-color: #200e57; width: 30%;" data-dismiss="modal">확인</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%#= render "devise/shared/links" %>
  </div>


  
  <div class="modal" id=phoneCertificateModalCenter tabindex="-1" role="dialog" aria-labelledby="agreeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-block">
          <h5 class="modal-title text-center" id="agreeModalLongTitle">로그인하기</h5>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center mt-3">
            <label class="mr-2 color-primary">
              휴대폰 번호 인증
            </label>
            <div class="col-12">
              <%= number_field_tag :code, nil, class: "certification-code-field", style: "line-height:25px;display:none;", required: true %>
              <%= button_tag "인증번호 발송", class: "btn text-white certification-btn", style: "background-color: #200e57;" %>
            </div>
          </div>
          <%= hidden_field_tag :authorized, value: false %>
        </div>
        <div class="modal-footer row justify-content-center new_modal_footer">
          <button type="button" class="btn" data-dismiss="modal" style="color: #200e57; background-color:#cfd3df;">닫기</button>
          <button type="button" class="btn submit-button text-white" data-purpose="signin" style="background-color: #200e57;">로그인하기</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal" id="agreeModalCenter" tabindex="-1" role="dialog" aria-labelledby="agreeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-block">
          <h5 class="modal-title text-center" id="agreeModalLongTitle">회원가입</h5>
        </div>
        <div class="modal-body">
          <% if check_gym_tablet %>
            <div class="row justify-content-center pt-3 pb-2">
              <h2 class="phone-field color-primary"></h2>
            </div>
            <div class="row justify-content-center pb-3">
              <h4 class="center-field"></h4>
            </div>
            <div class="row justify-content-center">
              <div class="checkbox text-left mobile-input mt-3 col-6 text-center">
                <label class="mr-2 color-primary">
                  개인정보 수집 및 이용 동의 (필수)
                </label>
                <%= f.radio_button :privacy, true, required: true, class: "radio", checked: true %>
              </div>
              <div class="checkbox text-left mobile-input col-6 text-center">
                <label class="mr-2 color-primary">
                  마케팅 정보 수신 (선택)
                </label>
                <%= f.check_box :marketing, { class: "marketing_check mt-3", checked: true } %> <br>
                <small class="text-white">각종 포인트 충전 이벤트에 참여 가능합니다:)</small>
              </div>
            </div>
          <% else %>
            <div class="row justify-content-center pt-3 pb-2">
              <h2 class="phone-field color-primary"></h2>
            </div>
            <div class="row justify-content-center pb-3">
              <h4 class="center-field"></h4>
            </div>
            <div class="row justify-content-center mt-3">
              <label class="mr-2 color-primary">
                휴대폰 번호 인증
              </label>
              <div class="col-12">
                <%= number_field_tag :code, nil, class: "certification-code-field", style: "line-height:25px;display:none;", required: true %>
                <%= button_tag "인증번호 발송", class: "btn text-white certification-btn", style: "background-color: #200e57;" %>
              </div>
            </div>
            <div class="row justify-content-center mt-3">
              <div class="checkbox text-left mobile-input mt-3 col-12 text-center">
                <label class="mr-2 color-primary">
                  개인정보 수집 및 이용 동의 (필수)
                </label>
                <%= f.radio_button :privacy, true, required: true, class: "radio", checked: true %>
              </div>
              <div class="checkbox text-left mobile-input col-12 text-center">
                <label class="mr-2 color-primary">
                  마케팅 정보 수신 (선택)
                </label>
                <%= f.check_box :marketing, { class: "marketing_check mt-1", checked: true } %> <br>
                <small class="text-white">각종 포인트 충전 이벤트에 참여 가능합니다:)</small>
              </div>
            </div>
            <%= hidden_field_tag :authorized, value: false %>
          <% end %>
        </div>
        <div class="modal-footer row justify-content-center new_modal_footer">
          <button type="button" class="btn" data-dismiss="modal" style="color: #200e57; background-color:#cfd3df;">닫기</button>
          <button type="button" class="btn submit-button text-white" style="background-color: #200e57;">동의하고 회원가입하기</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_with url: check_certificate_users_path, id: "phone-certificate-form", style: "display:none;" do %>
  <%= hidden_field_tag :phone %>
  <%= hidden_field_tag :code %>
  <%= hidden_field_tag :_type %>
  <%=  %>
<% end %>

<button type="button" class="btn btn-primary modal-btn" data-toggle="modal" style="display:none;" data-target="#agreeModalCenter">
</button>
<button type="button" class="btn btn-primary phone-certificate-modal-btn" data-toggle="modal" style="display:none;" data-target="#phoneCertificateModalCenter">
</button>


<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
  function validateFields(lengthOfPhone){
    let result = false;
    if(lengthOfPhone != 11){
      alert("전화번호를 다시 한번 확인해주세요.");
    } else if(($("#select_gym_id").val() == undefined) || ($("#select_gym_id").val() == "")){
      alert("센터를 다시 한번 확인해주세요.");
    } else {
      result = true
    }
    return result;
  }

  function initPhoneForm(phone){
    $("#phone-certificate-form #phone").val(phone);
    $("#phone-certificate-form #_type").val("send");
    $(".certification-code-field").val("");
    $(".certification-code-field").hide();
    $(".certification-btn").text("인증번호 발송");
    $(".certification-code-field").prop("readonly", "");
    $(".certification-btn").prop("disabled", "");

  }

  $(".certification-btn").click((e) => {
    $("#phone-certificate-form #code").val($(e.currentTarget).closest(".modal").find(".certification-code-field").val());
    Rails.fire($("#phone-certificate-form")[0], "submit");
    $("#phone-certificate-form #_type").val("check");
    $(".certification-code-field").show();
    $(".certification-btn").text("인증");
    return false;
  })
  
  $("form#new_user [name=authenticity_token]").val('<%= form_authenticity_token %>');
  $('#select_gym_id').dropdown();
  $('.num').click(function () {
      var num = $(this);
      var text = $.trim(num.find('.txt').clone().children().remove().end().text());
      var telNumber = $('#telNumber');
      $(telNumber).val(telNumber.val() + text);
  });

  $('#regi-button').click(function () {
    var telNumber = $('#telNumber');
    var phone = $(telNumber).val();
    var url = $('#regi-button').attr('href') + '?phone=' + phone;
    $('#regi-button').attr('href', url);
  });

  $("#login-confirm").click(function(e){
    e.preventDefault();
    let lengthOfPhone = $('#telNumber').val().length;
    if (validateFields(lengthOfPhone)){
      $.get({url: `/users/check?phone_num=${$('#telNumber').val()}`});
    }
    return false;
  });
  $(".modal").on("show.bs.modal", function(){
    $(".phone-field").text($('#telNumber').val());
    $(".center-field").text($('#select_gym_id option:selected').text() + " 지점");
    initPhoneForm($('#telNumber').val());
  });


  $(".submit-button").click((e)=>{
    e.preventDefault();
    let lengthOfPhone = $('#telNumber').val().length;
    <% if check_gym_tablet %>
      if (validateFields(lengthOfPhone)){
        $("form#new_user").submit();
      }
    <% else %>
      if(($("#authorized").val() == "true")){
        if (validateFields(lengthOfPhone)){
          if($(e.currentTarget).data("purpose") == "signin") $("form#new_user").prop("action", '<%= new_user_session_path %>');
          $("form#new_user").submit();
        }
      } else {
        alert("휴대폰 인증을 진행해주세요.");
      }
    <% end %>
    
    return false;
  });
</script>
