<style>
  #drink-count {
    margin-top: 0;
    bottom: 0;
  }
  .fas {
    color: #48689a;
  }
  .btn-lg {
    margin-top: 26px;
  }
  #item-image {
    width: 53%;
  }
  #item-count {
    font-size: 25px;
  }
  .fa-minus-square {
    font-size: 2.6rem;
  }
  .fa-plus-square {
    font-size: 2.6rem;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    #item-image {
      width: 100%;
    }
    #item-count {
      font-size: 20px;
    }
    #drink-count {
      padding-top: 30px;
      bottom: 0;
      margin-left: 20px;
      font-size: 20px;
    }
    .fa-minus-square {
      margin-top: 5px;
      font-size: 1.3rem;
    }
    .fa-plus-square {
      margin-top: 5px;
      font-size: 1.3rem;
    }
  }
</style>

<div class="container">
  <% if params[:pg_token].present? %>
    <div class="alert alert-shape alert-color mt-4">
      <span class="badge badge-dark badge-pill">
        알림
      </span>
      <span class="alert-content text-white">결제가 완료되었습니다:)</span>
    </div>
  <% end %>
  <% count = 0 %>
  <%#= render 'shared/mypage', order: @order %>
  <h3 class="text-white mb-4" id="drink-count">누적 사용 <%= (@order&.number % @order&.item&.count) %> / <%= @order&.item&.count %>개</h3>
  <div class="description mt-3 text-right">
    <small class="text-white">모든 제품이 동일하게 1개 차감됩니다.</small>
  </div>
  <div class="row mt-4">
    <% @order&.line_items&.order(:created_at)&.each do |line_item| %>
      <div class="col-4">
        <img src="/<%= count %>.png" id="item-image">
        <div class="row mt-4">
          <!-- line_item update -->
          <div class="col-4">
            <%= link_to reduce_line_item_path(line_item), remote: true do %>
              <i class="fas fa-minus-square"></i>
            <% end %>
          </div>
          <div class="col-4">
            <p class="text-white" id="item-count"><%= line_item.temp %></p>
          </div>
          <div class="col-4">
            <%= link_to line_item_path(line_item), method: :patch, remote: true do %>
            <%# , onclick: "sound()" %>
              <i class="fas fa-plus-square"></i>
            <% end %>
          </div>
        </div>
      </div>
      <% count += 1 %>
    <% end %>
  </div>
  <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-lg text-white card_mobile mb-4", style: "background-color: #48689a", data: {confirm: "로그아웃하시겠습니까?"} %>
  <a onclick="AutoLogout(<%= @order&.line_items&.order(:created_at)&.pluck(:title, :temp)&.map { |result| result.flatten.join(' ') } %>)" id="bb-box" class="btn btn-lg text-white card_mobile ml-5 mb-4" style="background-color: #48689a">
    꺼내 먹기
  </a>

  <% if false %>
    <% if current_user.item.id == Item.first.id %>
      <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-5">@@@@@경축@@@@@아잇 좋아^^</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>회원가입을 축하합니다. <br>최초 1개를 무료로 제공해 드리니, <br> 원하시는 제품을 선택 후 '꺼내 먹기' 클릭해주세요.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function (){
    $('#myModal').modal('show')
  });

  function sound() {
    var sound = document.createElement("audio");
    sound.src = "/gorillabomb.m4a";
    sound.play();
  }

  var timoutNow = 2000;
  var timeoutTimer;

  function AutoLogout(condition) {
    if(confirm(condition+"개가 맞습니까?")) {

      if(<%= @order.line_items.sum(:quantity) <= @order.item.count %>) {
        $.ajax({
          // order update
          url : "<%= order_path(@order) %>",
          type : "patch",
          contentType: "application/javascript",
          dataType: "script",
          beforeSend: function ( xhr ) {
            xhr.setRequestHeader( 'X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));
          }
        });
        alert("구매가 완료되었습니다. 자동 로그아웃 됩니다.")
        StartTimers()
        IdleTimeout()
      }
      else {
        alert("사용권의 횟수를 초과하였습니다. 다시 선택해주세요!")
      }
    }
  }

  function StartTimers() {
    timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
  }

  function IdleTimeout() {
    alert("이제 냉장고를 열고 꺼내 드세요!")
    // window.location = 'http://morebox.co.kr/items/auto_out'
    window.location = 'http://localhost:3000/items/auto_out'
  }
</script>
