<style>
  #change-color {
    background-color: #e9eef2;
  }
  .ui-button {
    color: #200e57;
    border-color: #200e57;
  }
  .nav-tabs .nav-link.active {
    background-color: #cfd3df;
    width: 130px;
  }
  .nav-tabs .nav-link {
    background-color: white;
    width: 130px;
  }
  #product_list {
    /* height: 220px; */
    margin-left: 5%;
    margin-right: 5%;
    height: 50vh;
    overflow-y: scroll;
  }
  .header {
    background-color: #cfd3df;
    color: #200e57;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
  }
  .fa-2x {
    font-size: 1.5em;
  }
  .modal-dialog {
    width: 40%;
    height: 20vh;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    #item-image {
      width: 100%;
    }
    #item-count {
      font-size: 20px;
    }
    .fa-minus-square {
      margin-top: 5px;
      font-size: 1.3rem;
    }
    .fa-plus-square {
      margin-top: 5px;
      font-size: 1.3rem;
    }
    #point-button {
      width: 75px;
    }
    #welcom-modal-body {
      min-height: 20vh;
    }
    #welcom-modal-content {
      width: 100%;
      font-size: 1.5rem;
    }
  }
</style>

<% if params[:alert].present? %>
  <div class="alert alert-shape alert-color mt-4">
    <span class="badge badge-dark badge-pill">
      알림
    </span>
    <span class="alert-content text-white">충전이 완료되었습니다:)</span>
  </div>
<% end %>
<%#= render 'shared/mypage', order: @order %>
<div class="row justify-content-center">
  <!-- 좌측면 -->
  <div class="left mt-5" style="width: 70%;">
    <div class="row justify-content-center">
      <div class="col-50 mr-5">
        <%= image_tag '/list_logo.png' %>
      </div>
      <div class="col-50 ml-5" style="font-size: 20px;">
        <span style="color: #200e57;"><%= current_user.phone %>님</span>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-outline ui-button mt-2", style: "width: 50%;" %>
      </div>
    </div>
    <% if current_user.orders.count == 0 %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;" id="modal-trigger"></button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header d-block" style="color: #200e57; background-color: #cfd3df;">
              <h5 class="modal-title text-center" id="exampleModalLabel">회원가입을 축하드립니다:)</h5>
            </div>
            <div class="modal-body" style="color: #200e57;">
              <p class="mt-3" style="font-size: 18px;"><%= current_user.phone.last(4) %>님 반갑습니다!</p>
              <h3 class="mt-5">먹는 것까지가 운동인 거 아시죠?</h3> <br>
              <p style="font-size: 18px;">간편하게 결제하고 <br> 2초만에 영양까지 챙기세요</p>
            </div>
            <div class="modal-footer row justify-content-center new_modal_footer">
              <button type="button" class="btn text-white" style="background-color: #200e57; width: 30%;" data-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <% Category.all.order(:created_at).each do |category| %>
          <li class="nav-item mr-4 font-weight-bold">
            <a class="nav-link <%= category == Category.first ? "active" : "" %>" style="color: #200e57;" id="<%= category.id %>" data-toggle="tab" href="#<%= category.title %>" role="tab" aria-selected="false"><%= category.description %></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <% Category.all.order(:created_at).each do |category| %>
          <div class="tab-pane fade <%= category == Category.first ? "show active" : "" %>" id="<%= category.title %>" role="tabpanel" aria-labelledby="<%= category.id %>">
            <div class="row mt-5" id="product_list">
              <% current_user.gym&.gyms_sub_items.order(:created_at).each do |gyms_sub_item| %>
                <% sub_item = gyms_sub_item.sub_item %>
                <% if sub_item.category == category %>
                  <div class="col-2 mb-4">
                    <img src="<%= sub_item.image_url %>" data-target="#exampleModal_<%= sub_item.id %>" data-toggle="modal" style="width: 100%;">
                    <p class="mt-1" style="color: #200e57;"><%= sub_item.point %> point</p>
                  </div>
                  <div class="modal fade" id="exampleModal_<%= sub_item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header d-block" style="background-color: #cfd3df;">
                          <h3 class="modal-title text-center" id="exampleModalLabel" style="color: #200e57;">선택 상품 (재고: <%= gyms_sub_item.quantity %>개)</h3>
                        </div>
                        <div class="modal-body row justify-content-center">
                          <h3 style="color: #200e57;"><%= sub_item.description %></h3>
                          <div class="col-12 mt-3">
                            <img src="<%= sub_item&.image_url %>" style="width: 25%;">
                          </div>
                          <div class="row justify-content-center mt-3">
                            <div class="col-12 mb-2">
                              <h3 class="ui-button font-weight-bold"><%= sub_item.title %></h3>
                            </div>
                            <%= link_to "#", class: "minus-btn", data: {limit: gyms_sub_item.quantity, target: sub_item.id} do %>
                              <i class="fa fa-minus fa-2x mt-3 mr-4" style="color: #200e57;" aria-hidden="true"></i>
                            <% end %>
                            <p style="font-size: 30px;" id="item-count-<%= sub_item.id %>">0</p>
                            <%= link_to "#", class: "plus-btn", data: { limit: gyms_sub_item.quantity, target: sub_item.id } do %>
                              <i class="fa fa-plus fa-2x mt-3 ml-4" style="color: #200e57;" aria-hidden="true"></i>
                            <% end %>
                          </div>
                        </div>
                        <div class="modal-footer row justify-content-center mb-3 new_modal_footer">
                          <div class="col-40 mr-5">
                            <h2 class="select-btn ui-button" data-dismiss="modal" data-target="<%= sub_item.id %>">선 택</h2>
                          </div>
                          <div class="col-20 ml-5 mr-5">
                            <h2>|</h2>
                          </div>
                          <div class="col-40 ml-5">
                            <h2 data-dismiss="modal" style="color: gray;">취 소</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 우측면 -->
  <div class="right" style="width: 30%; background-color: white; height: 100vh;">
    <div class="header">
      <h2 style="vertical-align: middle; display: inline-block;">주문할 상품</h2>
    </div>
    <div class="cart-list" style="text-align: center;" id="cart-container">
    </div>
    <hr style="background-color: #200e57;" />
    <%= form_with url: points_path, id: "cart", method: :post do %>
      <% current_user.gym&.sub_items.each do |sub_item| %>
        <%= hidden_field_tag "sub_item_#{sub_item.id}", 0, name: "sub_item[#{sub_item.id}]", class: "sub_item_field", data: { title: sub_item.title, id: sub_item.id, point: sub_item.point } %>
      <% end %>
      <%= submit_tag "꺼내 먹기", class: "btn btn-outline btn-lg text-white mb-2", style: "background-color: #200e57; border-color: #200e57; width: 60%;", onclick: "sound()" %> <br>
      <%= link_to "충전", items_path, class: "btn btn-outline btn-lg", style: "color: #200e57; border-color: #200e57; width: 60%;" %>
      <h2 style="color: #200e57;">잔여포인트: <%= current_user.remained_point %>포인트</h2>
      <audio id="audio" src="/click.mp3"></audio>
    <% end %>
  </div>
</div>

<!-- 연보라 컬러코드 #cfd3df
글자 찐보라 #200e57 -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
  $(document).ready(function() {
    $("#modal-trigger").click();
  })

  function sound() {
    var audio = document.getElementById("audio");
    audio.play();
  }

  $(".submit-btn").click(function(){
    Rails.fire($('#cart')[0], 'submit');
    return false;
  })

  $(".plus-btn, .minus-btn").click(function(e){
    e.preventDefault();
    let limitQty = parseInt($(this).data("limit"));
    let subitemId = $(this).data("target");
    let targetQtyEl = $("#item-count-" + subitemId);
    let targetQty = parseInt(targetQtyEl.text());
    let val = ($(this).hasClass("plus-btn") ? 1 : -1);
    targetQty = targetQty + val
    if (targetQty > limitQty){
      alert("해당 상품의 재고가 부족합니다.")
    }else{
      if(targetQty >= 0){
        targetQtyEl.text(targetQty);
      }
    }
    return false;
  });

  $(".select-btn").click(function(){
    let targetId = $(this).data("target");
    $("#sub_item_" + targetId).val($("#item-count-" + targetId).text());
    $(".sub_item_field").change();
  });

  $(".sub_item_field").change(function(){
    var html = ""
    $(".sub_item_field").each(function(){
      let target = $(this)
      var point = target.data("point")
      if(parseInt(target.val()) > 0){
        html = html +
        '<div class="container mt-4 mb-5">' +
          '<div class="row justify-content-center mt-3">' +
            '<div class="col-70">' +
              '<h2 style="color: #200e57;">' + target.data("title") + ' ' + target.val() + '개</h2>' +
            '</div>' +
            '<div class="col-30">' +
              '<a href="#" onclick="deleteItem(' + target.data("id") + ');return false;">' +
                '<i class="fa fa-2x fa-trash-o mt-1 ml-3" aria-hidden="true" style="color: red;"></i>' +
              '</a>' +
            '</div>' +
          '</div>' +
          '<div class="row justify-content-center mt-3">' +
            '<div class="col-50 mr-4">' +
            '<h3 style="color: #200e57;">가격</h3>' +
            '</div>' +
            '<div class="col-50 ml-4">' +
            '<h3 style="color: #200e57;">' + point + 'Point</h3>' +
            '</div>' +
          '</div>' +
        '</div>'
      }
    });
    $(".cart-list").html(html);
  });

  function deleteItem(subitemId){
    $("#sub_item_"+subitemId).val(0);
    $(".sub_item_field").change();
  }
</script>
