<%= render 'index_css' %>

<div class="container">
  <div class="row" id="item-select">
    <% Item.order(:point).each do |item| %>
      <div class="col-md-4">
        <!-- <img src="<%# item.image.url %>" onclick="requestPay(<%# item.id %>, <%# current_user.gym&.id %>)" id="item-mobile" class="mt-3"> -->
        <img src="<%= item.image.url %>" onclick="requestPay(<%= item.id %>, <%= current_gym&.id %>)" id="item-mobile" class="mt-3">
      </div>
    <% end %>
  </div>
  <h4 class="mt-4" style="color: #757CFF;"><%= current_user.phone.last(4) %>님의 잔여 포인트: <%= number_with_delimiter(current_user.remained_point) %>P</h4> <br>
  <div class="box">
    <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-lg text-white card_mobile mr-3", style: "background-color: #48689a", id: "item-button" %>
    <%= link_to "돌아가기", url_for(:back), class: "btn btn-lg text-white card_mobile ml-3", style: "background-color: blue;" %>
  </div>
  <%= render 'payment_modal' %>
</div>