<style>
  #change-color {
    background-color: white;
  }
  .header {
    background-color: #cfd3df;
    color: #200e57;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
  }
  input.point_check {
    width: 100%;
    height: 4vh;
  }

  #item-mobile {
    width: 100%;
  }
  #item-button {
    width: 150px;
  }
  #item-select {
    margin-top: 50px;
  }
  .box {
    flex-wrap: wrap;
    align-content: space-between;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    #mobile-button {
      font-size: 15px;
      padding-bottom: 30px;
    }
    #item-mobile {
      width: 75%;
    }
    #item-select {
      margin-top: 20px;
    }
    #item-button {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100px;
    }
  }
</style>

<div class="charge" style="width: 100%;">
  <div class="header" style="background-color: #cfd3df;">
    <h2 style="vertical-align: middle; display: inline-block;">포인트 충전</h2>
  </div>
  <div class="row justify-content-center">
    <div class="left" style="width: 70%;">
      <div class="row justify-content-center">
        <table class="table mt-5" style="width: 80%; height: 60vh;">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" style="color: #200e57;">결제금액</th>
              <th scope="col" style="color: #200e57;">충전 Point</th>
            </tr>
          </thead>
          <tbody style="color: #200e57;">
            <% Item.order(:point).each do |item| %>
              <tr>
                <th scope="row"><input class="point_check" type="checkbox" id="<%= item.id %>"></th>
                <td style="padding-top: 15px;"><%= number_with_delimiter(item.price) %>원</td>
                <td style="padding-top: 15px;"><strong><%= number_with_delimiter(item.point) %></strong> P</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="right" style="width: 30%;">
      <div class="point-detail" style="margin-top: 50%;">
        <%= link_to "돌아가기", url_for(:back), class: "btn btn-outline btn-lg mt-3 mb-2", style: "color: #200e57; border-color: #200e57; width: 60%;" %>
        <h2 style="color: #200e57; margin-top: 5px;">잔여포인트: <%= number_with_delimiter(current_user.remained_point) %> P</h2>
      </div>
    </div>
  </div>
  <div class="modal" data-close="120" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-block" style="color: #200e57; background-color: #cfd3df;">
          <h5 class="modal-title text-center" id="exampleModalLabel">결제를 진행해주세요!</h5>
        </div>
        <div class="modal-body" style="color: #200e57;">
          <h3 class="mt-3">회원님의 핸드폰으로 <br> 결제 문자가 전송되었습니다:)</h3> <br>
          <p style="font-size: 18px;">*아이폰 유저들은 결제완료 후 <br> 핸드폰에서 이전 창으로 돌아가주세요.</p>
        </div>
        <div class="modal-footer row justify-content-center new_modal_footer">
          <button type="button" class="btn text-white" style="background-color: #200e57; width: 30%;" data-dismiss="modal" id="welcom-button">확인</button>
        </div>
        <div class="warning mt-3" style="font-size: 18px; color: #e2484b;">
          <p style="margin-bottom: 0px;">결제 완료 후, <strong style="color: #200e57;">확인</strong> 버튼을 눌러주세요</p>
          <p class="will-close mb-4"><strong>n</strong>초 후에 자동 로그아웃 됩니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $('.point_check').click('on', function() {
      var item_id = document.querySelector('.point_check:checked').id;

      swal({
        title: "충전하시겠습니까?",
        type: "info",
        showCancelButton: true,
        confirmButtonColor: "#200e57",
        confirmButtonText: "예",
        cancelButtonText: "아니오"
      },
      function(isConfirm) {
        if (isConfirm) {
          requestPay(item_id)
        } else {
          document.querySelector(".point_check:checked").checked = false;
        }
      });
    });
  });



  // $('.payment_trigger').click('on', function() {
  //
  //   requestPay(item_id)
  // });

  function requestPay(item_id) {
    var popup = $('#exampleModal');
    var time = $(".will-close strong");
    var closeSeconds = $("#exampleModal").attr("data-close");

    // popup.modal('show');
    $(document).ready(function(){
      popup.modal('show');
    });

    time.html(closeSeconds);

    var interval = setInterval(function(){
      time.html(closeSeconds);
      closeSeconds--;
      if(closeSeconds < 0){
        popup.modal('hide');
        clearInterval(interval);
      }
    }, 1000)

    setTimeout(function(){
      window.location = '/items/auto_out'
    }, 120000);

    $.ajax({
      url: "/apis/pay_url",
      type: "POST",
      dataType: "json",
      beforeSend: function ( xhr ) {
        xhr.setRequestHeader( 'X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));
      },
      data: {
        item_id: item_id
      },
      success: function(data) {
        if(data.result == false){
          alert("정상적인 결제 요청이 아닙니다. 다시 시도해주세요.");
        } else {
          location.href = data.next_redirect_pc_url
        }
      }
    })
  }

  $("#welcom-button").click(function(){
    window.location="<%= list_items_path %>";
  });
</script>
