<%= render 'index_css' %>

<div class="charge" style="width: 100%;">
  <div class="header" style="background-color: #cfd3df;">
    <h2 style="vertical-align: middle; display: inline-block;">포인트 충전</h2>
  </div>
  <div class="row justify-content-center">
    <div class="left" style="width: 70%;">
      <div class="row justify-content-center">
        <table class="table mt-5" style="width: 80%; height: 60vh;">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" style="color: #200e57;">결제금액</th>
              <th scope="col" style="color: #200e57;">충전 Point</th>
            </tr>
          </thead>
          <tbody style="color: #200e57; font-size: 2em;">
            <% Item.order(:point).each do |item| %>
              <tr>
                <th scope="row"><input class="point_check" type="checkbox" id="<%= item.id %>"></th>
                <td style="padding-top: 15px;"><%= number_with_delimiter(item.price) %>원</td>
                <td style="padding-top: 15px;"><strong><%= number_with_delimiter(item.point) %></strong> P
                  <% unless item.price == item.point %>
                    <small style="color: red; font-size: 0.7em;">&nbsp&nbsp&nbsp+<%= number_with_delimiter(item.point - item.price) %></small>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="right" style="width: 30%;">
      <%= render 'shared/timer' %>
      <div class="point-detail" style="margin-top: 50%;">
        <%= link_to "돌아가기", list_items_path, class: "btn btn-outline btn-lg mt-3 mb-2", style: "color: #200e57; border-color: #200e57; width: 60%;" %>
        <h2 style="color: #200e57; margin-top: 5px;">잔여포인트: <%= number_with_delimiter(current_user.remained_point) %> P</h2>
      </div>
    </div>
  </div>
  <%= render 'payment_modal' %>
</div>
<script>
  $('.point_check').click('on', function() {
    var item_id = document.querySelector('.point_check:checked').id;
    Swal.fire({
      title: "충전하시겠습니까?",
      icon: "info",
      showCancelButton: true,
      confirmButtonColor: "#200e57",
      confirmButtonText: "예",
      cancelButtonText: "아니오"
    }).then((result) => {
      if (result.value) {
        requestPay(item_id);
      } else {
        document.querySelector(".point_check:checked").checked = false;
      }
    });;
  });

  $("#welcom-button").click(function(){
    window.location="<%= list_items_path %>";
  });
</script>
