<style>
  #item-mobile {
    width: 100%;
  }
  #item-button {
    width: 150px;
  }
  #item-select {
    margin-top: 50px;
  }
  .box {
    flex-wrap: wrap;
    align-content: space-between;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    #mobile-button {
      font-size: 15px;
      padding-bottom: 30px;
    }
    #item-mobile {
      width: 75%;
    }
    #item-select {
      margin-top: 20px;
    }
    #item-button {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100px;
    }
  }
</style>

<div class="container">
  <div class="row" id="item-select">
    <% Item.order(:point).each do |item| %>
      <div class="col-md-4">
        <img src="<%= item.image.url %>" onclick="requestPay(<%= item.id %>, <%= current_user.gym&.id %>)" id="item-mobile" class="mt-3">
      </div>
    <% end %>
  </div>
  <h4 class="mt-4" style="color: #757CFF;"><%= current_user.phone.last(4) %>님의 잔여 포인트: <%= number_with_delimiter(current_user.remained_point) %>P</h4> <br>
  <div class="box">
    <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-lg text-white card_mobile mr-3", style: "background-color: #48689a", id: "item-button" %>
    <%= link_to "돌아가기", url_for(:back), class: "btn btn-lg text-white card_mobile ml-3", style: "background-color: blue;" %>
  </div>
  <div class="modal fade" data-close="100" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: #0F4C81;" id="welcom-modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel">결제를 진행해주세요!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-white mt-3" id="welcom-modal-body">
          <h3>회원님의 핸드폰으로 <br> 결제 문자가 전송되었습니다:)</h3> <br>
          <h3>아이폰 유저들은 결제 완료 후 <br> 이전 창으로 돌아가십시오.</h3> <br>
          <h3 class="text-red">결제 완료 후에, 확인 버튼을 눌러주세요.</h3> <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg"  id="welcom-button">확인</button>
          <span class="will-close text-white"><strong>n</strong>초 후에 자동 로그아웃 됩니다.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function requestPay(item_id, gym_id) {
    var popup = $('#exampleModal');
    var time = $(".will-close strong");
    var closeSeconds = $("#exampleModal").attr("data-close");

    popup.modal('show');
    time.html(closeSeconds);

    var interval = setInterval(function(){
      time.html(closeSeconds);
      closeSeconds--;

      if(closeSeconds < 0){
        popup.modal('hide');
        clearInterval(interval);
      }

    }, 1000)

    setTimeout(function(){
      window.location = '/items/auto_out'
    }, 100000);

    $.ajax({
      url: "/apis/pay_url",
      type: "POST",
      dataType: "json",
      beforeSend: function ( xhr ) {
        xhr.setRequestHeader( 'X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));
      },
      data: {
        item_id: item_id,
        gym_id: gym_id,
      },
      success: function(data) {
        if(data.result == false){
          alert("정상적인 결제 요청이 아닙니다. 다시 시도해주세요.");
        } else {
          location.href = data.next_redirect_pc_url
        }
      }
    })
  }

  $("#welcom-button").click(function(){
    window.location="<%= list_items_path %>";
  });
</script>

<%# 모어박스 쇼핑몰 형태 %>
<% if false %>
  <style>
    #drink-count {
      margin-top: 0;
      bottom: 0;
    }
    .fas {
      color: #48689a;
    }
    .btn-lg {
      margin-top: 20px;
    }
    #item-image {
      width: 53%;
    }
    #item-count {
      font-size: 25px;
    }
    .fa-minus-square {
      font-size: 2rem;
    }
    .fa-plus-square {
      font-size: 2rem;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      #item-image {
        width: 100%;
      }
      #item-count {
        font-size: 20px;
      }
      #drink-count {
        padding-top: 30px;
        bottom: 0;
        margin-left: 20px;
        font-size: 20px;
      }
      .fa-minus-square {
        margin-top: 5px;
        font-size: 1.3rem;
      }
      .fa-plus-square {
        margin-top: 5px;
        font-size: 1.3rem;
      }
      #cart-footer {
        padding: 0;
      }
    }
  </style>

  <div class="container">
    <div class="row mt-4">
      <% Item.order(:created_at)&.each do |item| %>
        <div class="col-4">
          <%= link_to item_path(item) do %>
            <img src="<%= item.image.url %>" id="item-image">
          <% end %>
          <div class="row mt-4">
            <div class="col-12">
              <%= form_for LineItem.new, remote: true do |f| %>
                <%= f.hidden_field :item_id, value: item.id %>
                <%= f.hidden_field :order_id, value: @order.id %>
                <%= f.submit "장바구니 담기", class: "btn text-white card_mobile", style: "background-color: #48689a" %>
              <% end %>
            </div>
            <button type="button" class="btn btn-primary submit-button" id="my-btn" data-toggle="modal" data-target="#exampleModal_<%= item.id %>" style="display: none;"></button>
            <div class="modal" id="modal-show">
              <div class="modal-fade" id="exampleModalLong_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>상품이 장바구니에 담겼습니다.<br>장바구니로 이동하시겠습니까?</p>
                    </div>
                    <div class="modal-footer" id="cart-footer">
                        <%= link_to "아니오", root_path, class: "btn btn-secondary" %>
                        <%= link_to "예", line_items_path, class: "btn btn-info" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-lg text-white card_mobile mt-5", style: "background-color: #48689a", data: {confirm: "로그아웃하시겠습니까?"} %>
  </div>
<% end %>
