<%= render 'card_css' %>

<% if params[:alert].present? %>
  <div class="alert alert-shape alert-color mt-4">
    <span class="badge badge-dark badge-pill">
      알림
    </span>
    <span class="alert-content text-white">충전이 완료되었습니다:)</span>
  </div>
<% end %>
<div class="row justify-content-center">
  <!-- 좌측면 -->
  <div class="left" style="width: 70%;">
    <div class="mb-3">
      <%= render 'shared/timer' %>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <%= image_tag '/list_logo.png', class: "px-5 py-2" %>
      </div>
      <div class="col-6" style="font-size: 20px;">
        <div class="row">
          <div class="offset-2 col-5 text-right">
            <span style="color: #200e57;line-height:45px;"><%= current_user.phone %>님</span>
          </div>
          <div class="col-5 text-left">
            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-outline ui-button mt-2", style: "width: 50%;", data: {confirm: "로그아웃하시겠습니까?"} %>
          </div>
        </div>
      </div>
    </div>
    <% if current_user.orders.count == 0 %>
      <%= render 'welcome_modal' %>
    <% end %>
    <% categories = current_user.gym.sub_items.map {|sub_item| sub_item.category } %>
    <h2><%= current_gym&.title %> 지점</h2>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs mt-5 px-5" id="myTab" role="tablist">
        <% categories.uniq.each_with_index do |category, index| %>
          <%# 아무것도 없는 제품 안 띄우게 하려고 %>
          <% if current_user.gym.sub_items.any? { |sub_item| sub_item.category == category } %>
            <li class="nav-item mr-4 font-weight-bold">
              <a class="nav-link <%= "active" if index.zero? %>" style="color: #200e57;" id="<%= category.id %>" data-toggle="tab" href="#category_<%= category.title %>" role="tab" aria-selected="false"><%= category.description %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <% categories.each_with_index do |category, index| %>
          <%= render "category_tab", category: category, index: index %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 우측면 -->
  <div class="right" style="width: 30%; background-color: white; height: 100vh;">
    <div class="header">
      <h2 style="vertical-align: middle; display: inline-block;">주문할 상품</h2>
    </div>
    <div class="cart-list" style="text-align: center;" id="cart-container">
    </div>
    <hr class="mt-0 mb-5" style="background-color: #200e57;" />
    <%= form_with url: points_path, id: "cart", method: :post do %>
      <%# current_user.gym&.sub_items.each do |sub_item| %>
      <% current_gym&.sub_items.each do |sub_item| %>
        <%= hidden_field_tag "sub_item_#{sub_item.id}", 0, name: "sub_item[#{sub_item.id}]", class: "sub_item_field", data: { title: sub_item.title, id: sub_item.id, point: sub_item.point } %>
      <% end %>
      <%= submit_tag "구매하기", class: "btn btn-outline btn-lg text-white mb-2 submit_btn", style: "background-color: #200e57; border-color: #200e57; width: 60%;", onclick: "sound()" %> <br>
      <%= link_to "포인트 충전", items_path, class: "btn btn-outline btn-lg", style: "color: #200e57; border-color: #200e57; width: 60%;" %>
      <h2 style="color: #200e57;">잔여포인트: <%= current_user.remained_point %>포인트</h2>
      <audio id="audio" src="/click.mp3"></audio>
    <% end %>
  </div>
</div>
<%= render 'payment_modal' %>

<script>
  $(document).ready(function() {
    $("#modal-trigger").click();
  })

  function sound() {
    var audio = document.getElementById("audio");
    audio.play();
  }

  $(".plus-btn, .minus-btn").click(function(e){
    e.preventDefault();
    let limitQty = parseInt($(this).data("limit"));
    let subitemId = $(this).data("target");
    let targetQtyEl = $("#item-count-" + subitemId);
    let targetQty = parseInt(targetQtyEl.text());
    let val = ($(this).hasClass("plus-btn") ? 1 : -1);
    targetQty = targetQty + val
    if (targetQty > limitQty){
      alert("해당 상품의 재고가 부족합니다.")
    }else{
      if(targetQty >= 0){
        targetQtyEl.text(targetQty);
      }
    }
    return false;
  });

  $(".select-btn").click(function(){
    let targetId = $(this).data("target");
    $("#sub_item_" + targetId).val($("#item-count-" + targetId).text());
    $(".sub_item_field").change();
  });

  function deleteItem(subitemId){
    $("#sub_item_"+subitemId).val(0);
    $(".sub_item_field").change();
  }

  $(".sub_item_field").change(function(){
    var html = ""
    $(".sub_item_field").each(function(){
      let target = $(this)
      var point = target.data("point")
      if(parseInt(target.val()) > 0){
        html = html +
        '<div class="container mt-4 mb-5">' +
          '<div class="row justify-content-center mt-3">' +
            '<div class="col-70">' +
              '<h2 style="color: #200e57;">' + target.data("title") + ' ' + target.val() + '개</h2>' +
            '</div>' +
            '<div class="col-30">' +
              '<a href="#" onclick="deleteItem(' + target.data("id") + ');return false;">' +
                '<i class="far fa-2x fa-trash-alt mt-1 ml-3" aria-hidden="true" style="color: red;"></i>' +
              '</a>' +
            '</div>' +
          '</div>' +
          '<div class="row justify-content-center mt-3">' +
            '<div class="col-50 mr-4">' +
            '<h3 style="color: #200e57;">가격</h3>' +
            '</div>' +
            '<div class="col-50 ml-4">' +
            '<h3 style="color: #200e57;">' + point + 'Point</h3>' +
            '</div>' +
          '</div>' +
        '</div>'
      }
    });
    $(".cart-list").html(html);
  });


</script>
