<style>
  #change-color {
    background: #e9edf1;
  }
  .cal_form {
    width: 80%;
    height: 6vh;
  }
  .form-control {
    border-color: #6200EE !important;
    color: #6200EE !important;
  }
  .ui.selection.dropdown {
    width: 80%;
  }
  ::placeholder {
    font-size: 15px !important;
  }
  #scroller {
    border-top: 1px solid #6200EE;
    overflow-y: hidden;
    padding: 0;
    margin: 0
    border: 1px solid #eee;
    width: 100%;
    height: 100px;
  }
</style>

<div class="text-center px-4 py-3 bg-white">
  <%= link_to fit_table_path do %>
    <%= image_tag "/fittable_logo.png", style: "width: 45%;" %>
  <% end %>
</div>
<div class="progress mt-0" style="margin-bottom: 0px;">
  <div class="progress-bar" id="top-progress-bar" role="progressbar" style="width: 100%; background-color: #6200EE;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="tab-content" id="myTabContent">
  <%= render '/posts/survey_tab_pane', index: 0, next_tab: -1 do %>
    <h2 class="text-dark text-center" style="margin-top: 10%;">반갑습니다!</h2>
    <h2 class="text-center" style="color: #6200EE; margin-top: 0%;"><%= @post.name %>님</h2>

    <div class="row justify-content-center mt-5 text-dark mx-0" style="background: white;">
      <div class="border cal_result col-2 py-3">
        <p>성별</p>
        <strong id="gender_answer"><%= @post.gender %></strong>
      </div>
      <div class="border cal_result col-2 py-3">
        <p>신장</p>
        <strong id="height_answer"><%= @post.height.ceil %></strong>
      </div>
      <div class="border cal_result col-4 py-3">
        <p>활동량</p>
        <strong id="activity_answer"></strong>
      </div>
      <div class="border cal_result col-4 py-3">
        <p>목표날짜</p>
        <strong class="weight_answer"><%= @post.target_date %></strong>
      </div>
    </div>

    <!-- section_2 -->
    <div class="row mt-5 text-dark">
      <div class="col-3">
        <small>현재</small> <br>
        <strong class="h5"><%= @post.weight %>kg</strong>
      </div>
      <div class="col-6">
        <small>목표까지 남은 체중</small> <br>
        <strong class="h5"><%= (@post.target_weight - @post.weight).abs %>Kg</strong>
      </div>
      <div class="col-3">
        <small>목표</small> <br>
        <strong class="h5"><%= @post.target_weight %>kg</strong>
      </div>
    </div>

    <div class="progress mt-3" style="background: white;">
      <div class="progress-bar" role="progressbar" style="background: #DBB2FF; width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <% end %>

  <%= render '/posts/survey_tab_pane', index: -1, prev_tab: 0 do %>
    <div style="background-color: white;">
      <i class="fas fa-2x fa-check mt-5" style="color: #200C58;"></i>
      <h2 style="margin-top: 3%; color: #200C58; margin-bottom: 0%;">챌린지 참여 준비 완료</h2>
      <div class="row justify-content-center">
        <%#= f.text_field :phone, class: "text-left form-control cal_form mt-2", placeholder: "핸드폰 번호를 입력하세요. 01012341234", required: true %>
        <%#= f.text_field :email, class: "text-left form-control cal_form mt-2", placeholder: "이메일을 입력하세요.", required: true %>
        <!-- <p class="mt-5" style="margin-bottom: 1%;">혹시 모어박스 회원이신가요?</p> -->
        <%#= f.select :is_morebox, options_for_select(["아니오", "예"]), { }, { class: "form-control", id: 'select_period', style: "width: 80%;", require: true } %>
        <%#= f.select :period, options_for_select(["4주"]), { }, { class: 'form-control', id: 'select_period', require: true } %>
        <%#= f.number_field :money, class: 'text-left form-control cal_form', placeholder: "ex) 50000", style: "width: 80%;", required: true %>

        <%= link_to "#", class: "mt-2 btn btn-lg" do %>
          <%= image_tag '/kakao_login.png', style: "width: 50%;", onclick: "kakaologin()" %>
        <% end %>
        <small style="color: #6200EE;"><strong>카카오 로그인 버튼을 누르셔야 상담이 시작됩니다!</strong></small>
      </div>

      <div class="container mt-5">
        <h4 class="text-left mt-3" style="color: #6200EE;">12월 풀케어챌린지 신청</h4>
        <div id="scroller">
          <% Post.order(created_at: :desc).each do |post| %>
            <div class="mt-3" style="width: 100%;"><strong><%= post&.name %></strong>님 챌린지 신청이 완료되었습니다.</div>
            <hr style="margin-top: 3%; margin-bottom: 3%;">
          <% end %>
        </div>
        <p class="mt-5 mb-3 pb-3" style="color: gray;"><strong>*안심하세요! 결제는 코치님이 배정된 이후에 이루어집니다:)</strong></p>
      </div>
    </div>

    <div class="container text-center py-2">
      <div class="description-block" style="color: #707070;">
        <div class="row justify-content-center">
          <div class="col-12">
            <i class="fas fa-2x fa-check-circle mb-2" style="color: #6200EE"></i>
            <p>상담은 카카오톡 플러스친구를 이용하여 블라인드로 <br>진행됩니다. 프로그램에 진실되게 임해주세요!</p>
          </div>
        </div> <br>
        <div class="row justify-content-center mt-3 mb-3">
          <div class="col-12">
            <i class="fas fa-2x fa-check-circle mb-2" style="color: #6200EE"></i>
            <p>핏테이블 플러스친구에서 상담을 시작하실 수 있도록 <br> 카톡을 보내드립니다. 닉네임을 입력해주시면 상담이 시작됩니다</p>
            <%= image_tag '/phone1.gif', style: "width: 70%;" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  window.setInterval(scrollit, 3000);

  function scrollit() {
    $('#scroller').animate({ scrollTop: $("#scroller").scrollTop() + 60 }, 'slow');
  }

  function kakaologin() {
    Kakao.init('d96f1166288eb21ee88c16906262d009');
    Kakao.Auth.authorize({
      // redirectUri: 'http://localhost:3000/users/auth/kakao/callback',
      redirectUri: 'https://morebox.co.kr/users/auth/kakao/callback',
      state: "<%= @post.id %>"
    });
  };

  $('#select_period').dropdown();
  let activity = "<%= @post.activity %>"
  if(activity == "대부분앉아있는다") {
    $("#activity_answer").text("활동강도1단계")
  } else if(activity == "조금활동적인편이다") {
    $("#activity_answer").text("활동강도2단계")
  } else if(activity == "돌아다닐일이많다") {
    $("#activity_answer").text("활동강도3단계")
  } else if(activity == "많이활동한다") {
    $("#activity_answer").text("활동강도4단계")
  } else {
    $("#activity_answer").text("활동강도5단계")
  }
</script>
