<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158638310-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158638310-3');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morebox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'sweetalert.min' %>
    <%= javascript_pack_tag 'application' %>
    <%# javascript_include_tag 'application' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>

  <body id="change-color" style="text-align: center;touch-action: manipulation;">
    <style>
      .text-red{
        color: red;
      }
      .bg-color-primary{
        background-color: #757CFF;
      }
      .color-primary{
        color: #757CFF;
      }
      #change-color{
        padding: 0px !important;
      }
    </style>

    <% if notice %>
      <div class="alert alert-shape alert-color mt-4">
        <span class="badge" style="background-color: #cfd3df;">
          알림
        </span>
        <span class="alert-content"><%= notice %></span>
      </div>
    <% end %>
    <%#= render 'shared/header' %>
    <%= yield %>
  </body>
</html>

<script>
  $(document).ready(function() {
    $(".alert").fadeTo(2000, 2500).slideUp(1000, function() { });
  });
</script>
